<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.meeting.mapper.MeetingMapper">
  <resultMap id="BaseResultMap" type="com.sicmed.remote.meeting.entity.Meeting">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="meet_id" jdbcType="VARCHAR" property="meetId" />
    <result column="meet_name" jdbcType="VARCHAR" property="meetName" />
    <result column="meet_number" jdbcType="VARCHAR" property="meetNumber" />
    <result column="meet_cover_url" jdbcType="VARCHAR" property="meetCoverUrl" />
    <result column="meet_description" jdbcType="VARCHAR" property="meetDescription" />
    <result column="meet_start_time" jdbcType="TIMESTAMP" property="meetStartTime" />
    <result column="meet_end_time" jdbcType="TIMESTAMP" property="meetEndTime" />
    <result column="meet_user" jdbcType="VARCHAR" property="meetUser" />
    <result column="meet_branch" jdbcType="VARCHAR" property="meetBranch" />
    <result column="meet_hospital" jdbcType="VARCHAR" property="meetHospital" />
    <result column="meet_url" jdbcType="VARCHAR" property="meetUrl" />
    <result column="meet_password" jdbcType="VARCHAR" property="meetPassword" />
    <result column="meet_type" jdbcType="VARCHAR" property="meetType" />
    <result column="meet_period" jdbcType="VARCHAR" property="meetPeriod" />
    <result column="meet_scope" jdbcType="VARCHAR" property="meetScope" />
    <result column="meet_mute" jdbcType="BIT" property="meetMute" />
    <result column="meet_record" jdbcType="BIT" property="meetRecord" />
    <result column="meet_start" jdbcType="BIT" property="meetStart" />
    <result column="meet_json" jdbcType="VARCHAR" property="meetJson" />
    <result column="subscription_number" jdbcType="INTEGER" property="subscriptionNumber" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, meet_id, meet_name, meet_number, meet_cover_url, meet_description, meet_start_time, 
    meet_end_time, meet_user, meet_branch, meet_hospital, meet_url, meet_password, meet_type, 
    meet_period, meet_scope, meet_mute, meet_record, meet_start, meet_json, subscription_number, 
    create_user, create_time, update_user, update_time, delete_user, delete_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from _meeting
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from _meeting
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sicmed.remote.meeting.entity.Meeting">
    insert into _meeting (id, meet_id, meet_name, 
      meet_number, meet_cover_url, meet_description, 
      meet_start_time, meet_end_time, meet_user, 
      meet_branch, meet_hospital, meet_url, 
      meet_password, meet_type, meet_period, 
      meet_scope, meet_mute, meet_record, 
      meet_start, meet_json, subscription_number, 
      create_user, create_time, update_user, 
      update_time, delete_user, delete_time, 
      del_flag)
    values (#{id,jdbcType=VARCHAR}, #{meetId,jdbcType=VARCHAR}, #{meetName,jdbcType=VARCHAR}, 
      #{meetNumber,jdbcType=VARCHAR}, #{meetCoverUrl,jdbcType=VARCHAR}, #{meetDescription,jdbcType=VARCHAR}, 
      #{meetStartTime,jdbcType=TIMESTAMP}, #{meetEndTime,jdbcType=TIMESTAMP}, #{meetUser,jdbcType=VARCHAR}, 
      #{meetBranch,jdbcType=VARCHAR}, #{meetHospital,jdbcType=VARCHAR}, #{meetUrl,jdbcType=VARCHAR}, 
      #{meetPassword,jdbcType=VARCHAR}, #{meetType,jdbcType=VARCHAR}, #{meetPeriod,jdbcType=VARCHAR}, 
      #{meetScope,jdbcType=VARCHAR}, #{meetMute,jdbcType=BIT}, #{meetRecord,jdbcType=BIT}, 
      #{meetStart,jdbcType=BIT}, #{meetJson,jdbcType=VARCHAR}, #{subscriptionNumber,jdbcType=INTEGER}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteUser,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sicmed.remote.meeting.entity.Meeting">
    insert into _meeting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="meetId != null">
        meet_id,
      </if>
      <if test="meetName != null">
        meet_name,
      </if>
      <if test="meetNumber != null">
        meet_number,
      </if>
      <if test="meetCoverUrl != null">
        meet_cover_url,
      </if>
      <if test="meetDescription != null">
        meet_description,
      </if>
      <if test="meetStartTime != null">
        meet_start_time,
      </if>
      <if test="meetEndTime != null">
        meet_end_time,
      </if>
      <if test="meetUser != null">
        meet_user,
      </if>
      <if test="meetBranch != null">
        meet_branch,
      </if>
      <if test="meetHospital != null">
        meet_hospital,
      </if>
      <if test="meetUrl != null">
        meet_url,
      </if>
      <if test="meetPassword != null">
        meet_password,
      </if>
      <if test="meetType != null">
        meet_type,
      </if>
      <if test="meetPeriod != null">
        meet_period,
      </if>
      <if test="meetScope != null">
        meet_scope,
      </if>
      <if test="meetMute != null">
        meet_mute,
      </if>
      <if test="meetRecord != null">
        meet_record,
      </if>
      <if test="meetStart != null">
        meet_start,
      </if>
      <if test="meetJson != null">
        meet_json,
      </if>
      <if test="subscriptionNumber != null">
        subscription_number,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteUser != null">
        delete_user,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="meetId != null">
        #{meetId,jdbcType=VARCHAR},
      </if>
      <if test="meetName != null">
        #{meetName,jdbcType=VARCHAR},
      </if>
      <if test="meetNumber != null">
        #{meetNumber,jdbcType=VARCHAR},
      </if>
      <if test="meetCoverUrl != null">
        #{meetCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="meetDescription != null">
        #{meetDescription,jdbcType=VARCHAR},
      </if>
      <if test="meetStartTime != null">
        #{meetStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetEndTime != null">
        #{meetEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetUser != null">
        #{meetUser,jdbcType=VARCHAR},
      </if>
      <if test="meetBranch != null">
        #{meetBranch,jdbcType=VARCHAR},
      </if>
      <if test="meetHospital != null">
        #{meetHospital,jdbcType=VARCHAR},
      </if>
      <if test="meetUrl != null">
        #{meetUrl,jdbcType=VARCHAR},
      </if>
      <if test="meetPassword != null">
        #{meetPassword,jdbcType=VARCHAR},
      </if>
      <if test="meetType != null">
        #{meetType,jdbcType=VARCHAR},
      </if>
      <if test="meetPeriod != null">
        #{meetPeriod,jdbcType=VARCHAR},
      </if>
      <if test="meetScope != null">
        #{meetScope,jdbcType=VARCHAR},
      </if>
      <if test="meetMute != null">
        #{meetMute,jdbcType=BIT},
      </if>
      <if test="meetRecord != null">
        #{meetRecord,jdbcType=BIT},
      </if>
      <if test="meetStart != null">
        #{meetStart,jdbcType=BIT},
      </if>
      <if test="meetJson != null">
        #{meetJson,jdbcType=VARCHAR},
      </if>
      <if test="subscriptionNumber != null">
        #{subscriptionNumber,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteUser != null">
        #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.remote.meeting.entity.Meeting">
    update _meeting
    <set>
      <if test="meetId != null">
        meet_id = #{meetId,jdbcType=VARCHAR},
      </if>
      <if test="meetName != null">
        meet_name = #{meetName,jdbcType=VARCHAR},
      </if>
      <if test="meetNumber != null">
        meet_number = #{meetNumber,jdbcType=VARCHAR},
      </if>
      <if test="meetCoverUrl != null">
        meet_cover_url = #{meetCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="meetDescription != null">
        meet_description = #{meetDescription,jdbcType=VARCHAR},
      </if>
      <if test="meetStartTime != null">
        meet_start_time = #{meetStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetEndTime != null">
        meet_end_time = #{meetEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="meetUser != null">
        meet_user = #{meetUser,jdbcType=VARCHAR},
      </if>
      <if test="meetBranch != null">
        meet_branch = #{meetBranch,jdbcType=VARCHAR},
      </if>
      <if test="meetHospital != null">
        meet_hospital = #{meetHospital,jdbcType=VARCHAR},
      </if>
      <if test="meetUrl != null">
        meet_url = #{meetUrl,jdbcType=VARCHAR},
      </if>
      <if test="meetPassword != null">
        meet_password = #{meetPassword,jdbcType=VARCHAR},
      </if>
      <if test="meetType != null">
        meet_type = #{meetType,jdbcType=VARCHAR},
      </if>
      <if test="meetPeriod != null">
        meet_period = #{meetPeriod,jdbcType=VARCHAR},
      </if>
      <if test="meetScope != null">
        meet_scope = #{meetScope,jdbcType=VARCHAR},
      </if>
      <if test="meetMute != null">
        meet_mute = #{meetMute,jdbcType=BIT},
      </if>
      <if test="meetRecord != null">
        meet_record = #{meetRecord,jdbcType=BIT},
      </if>
      <if test="meetStart != null">
        meet_start = #{meetStart,jdbcType=BIT},
      </if>
      <if test="meetJson != null">
        meet_json = #{meetJson,jdbcType=VARCHAR},
      </if>
      <if test="subscriptionNumber != null">
        subscription_number = #{subscriptionNumber,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteUser != null">
        delete_user = #{deleteUser,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sicmed.remote.meeting.entity.Meeting">
    update _meeting
    set meet_id = #{meetId,jdbcType=VARCHAR},
      meet_name = #{meetName,jdbcType=VARCHAR},
      meet_number = #{meetNumber,jdbcType=VARCHAR},
      meet_cover_url = #{meetCoverUrl,jdbcType=VARCHAR},
      meet_description = #{meetDescription,jdbcType=VARCHAR},
      meet_start_time = #{meetStartTime,jdbcType=TIMESTAMP},
      meet_end_time = #{meetEndTime,jdbcType=TIMESTAMP},
      meet_user = #{meetUser,jdbcType=VARCHAR},
      meet_branch = #{meetBranch,jdbcType=VARCHAR},
      meet_hospital = #{meetHospital,jdbcType=VARCHAR},
      meet_url = #{meetUrl,jdbcType=VARCHAR},
      meet_password = #{meetPassword,jdbcType=VARCHAR},
      meet_type = #{meetType,jdbcType=VARCHAR},
      meet_period = #{meetPeriod,jdbcType=VARCHAR},
      meet_scope = #{meetScope,jdbcType=VARCHAR},
      meet_mute = #{meetMute,jdbcType=BIT},
      meet_record = #{meetRecord,jdbcType=BIT},
      meet_start = #{meetStart,jdbcType=BIT},
      meet_json = #{meetJson,jdbcType=VARCHAR},
      subscription_number = #{subscriptionNumber,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>