<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.live.mapper.LiveMapper">
    <resultMap id="BaseResultMap" type="com.sicmed.remote.live.entity.Live">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="live_id" jdbcType="VARCHAR" property="liveId"/>
        <result column="live_name" jdbcType="VARCHAR" property="liveName"/>
        <result column="live_number" jdbcType="VARCHAR" property="liveNumber"/>
        <result column="live_cover_url" jdbcType="VARCHAR" property="liveCoverUrl"/>
        <result column="live_description" jdbcType="VARCHAR" property="liveDescription"/>
        <result column="live_start_time" jdbcType="TIMESTAMP" property="liveStartTime"/>
        <result column="live_end_time" jdbcType="TIMESTAMP" property="liveEndTime"/>
        <result column="live_branch" jdbcType="VARCHAR" property="liveBranch"/>
        <result column="live_hospital" jdbcType="VARCHAR" property="liveHospital"/>
        <result column="live_password" jdbcType="VARCHAR" property="livePassword"/>
        <result column="live_type" jdbcType="VARCHAR" property="liveType"/>
        <result column="live_period" jdbcType="VARCHAR" property="livePeriod"/>
        <result column="live_url" jdbcType="VARCHAR" property="liveUrl"/>
        <result column="live_scope" jdbcType="VARCHAR" property="liveScope"/>
        <result column="live_user" jdbcType="VARCHAR" property="liveUser"/>
        <result column="live_mute" jdbcType="BIT" property="liveMute"/>
        <result column="live_record" jdbcType="BIT" property="liveRecord"/>
        <result column="live_start" jdbcType="BIT" property="liveStart"/>
        <result column="live_json" jdbcType="VARCHAR" property="liveJson"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, live_id, live_name, live_number, live_cover_url, live_description, live_start_time, 
    live_end_time, live_branch,live_hospital, live_password, live_type, live_period, live_url, live_scope,
    live_user, live_mute, live_record, live_start, live_json, create_user, create_time, 
    update_user, update_time, delete_user, delete_time, del_flag
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from _live
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from _live
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insertSelective" parameterType="com.sicmed.remote.live.entity.Live">
        <selectKey keyProperty="id" resultType="java.lang.String"
                   order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into _live
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="liveId != null">
                live_id,
            </if>
            <if test="liveName != null">
                live_name,
            </if>
            <if test="liveNumber != null">
                live_number,
            </if>
            <if test="liveCoverUrl != null">
                live_cover_url,
            </if>
            <if test="liveDescription != null">
                live_description,
            </if>
            <if test="liveStartTime != null">
                live_start_time,
            </if>
            <if test="liveEndTime != null">
                live_end_time,
            </if>
            <if test="liveBranch != null">
                live_branch,
            </if>
            <if test="liveHospital != null">
                live_hospital,
            </if>
            <if test="livePassword != null">
                live_password,
            </if>
            <if test="liveType != null">
                live_type,
            </if>
            <if test="livePeriod != null">
                live_period,
            </if>
            <if test="liveUrl != null">
                live_url,
            </if>
            <if test="liveScope != null">
                live_scope,
            </if>
            <if test="liveUser != null">
                live_user,
            </if>
            <if test="liveMute != null">
                live_mute,
            </if>
            <if test="liveRecord != null">
                live_record,
            </if>
            <if test="liveStart != null">
                live_start,
            </if>
            <if test="liveJson != null">
                live_json,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="liveId != null">
                #{liveId,jdbcType=VARCHAR},
            </if>
            <if test="liveName != null">
                #{liveName,jdbcType=VARCHAR},
            </if>
            <if test="liveNumber != null">
                #{liveNumber,jdbcType=VARCHAR},
            </if>
            <if test="liveCoverUrl != null">
                #{liveCoverUrl,jdbcType=VARCHAR},
            </if>
            <if test="liveDescription != null">
                #{liveDescription,jdbcType=VARCHAR},
            </if>
            <if test="liveStartTime != null">
                #{liveStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="liveEndTime != null">
                #{liveEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="liveBranch != null">
                #{liveBranch,jdbcType=VARCHAR},
            </if>
            <if test="liveHospital != null">
                #{liveHospital,jdbcType=VARCHAR},
            </if>
            <if test="livePassword != null">
                #{livePassword,jdbcType=VARCHAR},
            </if>
            <if test="liveType != null">
                #{liveType,jdbcType=VARCHAR},
            </if>
            <if test="livePeriod != null">
                #{livePeriod,jdbcType=VARCHAR},
            </if>
            <if test="liveUrl != null">
                #{liveUrl,jdbcType=VARCHAR},
            </if>
            <if test="liveScope != null">
                #{liveScope,jdbcType=VARCHAR},
            </if>
            <if test="liveUser != null">
                #{liveUser,jdbcType=VARCHAR},
            </if>
            <if test="liveMute != null">
                #{liveMute,jdbcType=BIT},
            </if>
            <if test="liveRecord != null">
                #{liveRecord,jdbcType=BIT},
            </if>
            <if test="liveStart != null">
                #{liveStart,jdbcType=BIT},
            </if>
            <if test="liveJson != null">
                #{liveJson,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.remote.live.entity.Live">
        update _live
        <set>
            <if test="liveId != null">
                live_id = #{liveId,jdbcType=VARCHAR},
            </if>
            <if test="liveName != null">
                live_name = #{liveName,jdbcType=VARCHAR},
            </if>
            <if test="liveNumber != null">
                live_number = #{liveNumber,jdbcType=VARCHAR},
            </if>
            <if test="liveCoverUrl != null">
                live_cover_url = #{liveCoverUrl,jdbcType=VARCHAR},
            </if>
            <if test="liveDescription != null">
                live_description = #{liveDescription,jdbcType=VARCHAR},
            </if>
            <if test="liveStartTime != null">
                live_start_time = #{liveStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="liveEndTime != null">
                live_end_time = #{liveEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="liveBranch != null">
                live_branch = #{liveBranch,jdbcType=VARCHAR},
            </if>
            <if test="liveHospital != null">
                live_hospital = #{liveHospital,jdbcType=VARCHAR},
            </if>
            <if test="livePassword != null">
                live_password = #{livePassword,jdbcType=VARCHAR},
            </if>
            <if test="liveType != null">
                live_type = #{liveType,jdbcType=VARCHAR},
            </if>
            <if test="livePeriod != null">
                live_period = #{livePeriod,jdbcType=VARCHAR},
            </if>
            <if test="liveUrl != null">
                live_url = #{liveUrl,jdbcType=VARCHAR},
            </if>
            <if test="liveScope != null">
                live_scope = #{liveScope,jdbcType=VARCHAR},
            </if>
            <if test="liveUser != null">
                live_user = #{liveUser,jdbcType=VARCHAR},
            </if>
            <if test="liveMute != null">
                live_mute = #{liveMute,jdbcType=BIT},
            </if>
            <if test="liveRecord != null">
                live_record = #{liveRecord,jdbcType=BIT},
            </if>
            <if test="liveStart != null">
                live_start = #{liveStart,jdbcType=BIT},
            </if>
            <if test="liveJson != null">
                live_json = #{liveJson,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <resultMap id="ListResultMap" type="com.sicmed.remote.live.bean.LiveListBean">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="live_id" jdbcType="VARCHAR" property="liveId"/>
        <result column="live_name" jdbcType="VARCHAR" property="liveName"/>
        <result column="live_number" jdbcType="VARCHAR" property="liveNumber"/>
        <result column="live_cover_url" jdbcType="VARCHAR" property="liveCoverUrl"/>
        <result column="live_description" jdbcType="VARCHAR" property="liveDescription"/>
        <result column="live_start_time" jdbcType="TIMESTAMP" property="liveStartTime"/>
        <result column="live_end_time" jdbcType="TIMESTAMP" property="liveEndTime"/>
        <result column="liveBranchName" jdbcType="VARCHAR" property="liveBranchName"/>
        <result column="liveHospitalName" jdbcType="VARCHAR" property="liveHospitalName"/>
        <result column="live_password" jdbcType="VARCHAR" property="livePassword"/>
        <result column="live_type" jdbcType="VARCHAR" property="liveType"/>
        <result column="live_period" jdbcType="VARCHAR" property="livePeriod"/>
        <result column="live_url" jdbcType="VARCHAR" property="liveUrl"/>
        <result column="live_scope" jdbcType="VARCHAR" property="liveScope"/>
        <result column="live_user" jdbcType="VARCHAR" property="liveUser"/>
        <result column="live_mute" jdbcType="BIT" property="liveMute"/>
        <result column="live_record" jdbcType="BIT" property="liveRecord"/>
        <result column="live_start" jdbcType="BIT" property="liveStart"/>
        <result column="live_json" jdbcType="VARCHAR" property="liveJson"/>
    </resultMap>
    <!-- 根据条件 查询数量 -->
    <select id="selectCountByParam" parameterType="com.sicmed.remote.live.bean.GetLiveParamBean"
            resultType="java.lang.Integer">
        select
        COUNT(live.id)
        from _live live
        LEFT JOIN custom_branch customBranch ON customBranch.id = live.live_branch
        <where>
            live.del_flag = '0'
            AND live.live_end_time > CURRENT_TIMESTAMP()
            AND ((live.live_branch = #{branchId,jdbcType=VARCHAR} AND live.live_scope = "LIVE_LOCAL_BRANCH")
                OR (live.live_hospital = #{hospitalId,jdbcType=VARCHAR} AND live.live_scope = "LIVE_LOCAL_HOSPITAL")
                OR (customBranch.branch_id = #{sameBranchId,jdbcType=VARCHAR} AND live.live_scope = "LIVE_SAME_BRANCH")
                OR (live.live_scope = "LIVE_ALL_HOSPITAL"))
            <if test="liveType != null">
                AND live.live_type = #{liveType,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <!-- 根据条件 查询列表 并排序 -->
    <select id="selectListByParam" parameterType="com.sicmed.remote.live.bean.GetLiveParamBean"
            resultMap="ListResultMap">
        select
        live.id id, live_id, live_name, live_number, live_cover_url, live_description, live_start_time,
        live_end_time, live_branch, live_password, live_type, live_period, live_url, live_scope,
        live_user, live_mute, live_record, live_start, live_json,
        customBranch.custom_name liveBranchName,hospital.hospital_name liveHospitalName
        from _live live
        LEFT JOIN custom_branch customBranch ON customBranch.id = live.live_branch
        LEFT JOIN base_hospital hospital ON hospital.id = live.live_hospital
        <where>
            live.del_flag = '0'
            AND live.live_end_time > CURRENT_TIMESTAMP()
            AND ((live.live_branch = #{branchId,jdbcType=VARCHAR} AND live.live_scope = "LIVE_LOCAL_BRANCH")
                OR (live.live_hospital = #{hospitalId,jdbcType=VARCHAR} AND live.live_scope = "LIVE_LOCAL_HOSPITAL")
                OR (customBranch.branch_id = #{sameBranchId,jdbcType=VARCHAR} AND live.live_scope = "LIVE_SAME_BRANCH")
                OR (live.live_scope = "LIVE_ALL_HOSPITAL"))
            <if test="liveType != null">
                AND live.live_type = #{liveType,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY
        <if test="groupByTime != null">
            live.create_time DESC ,
        </if>
        live.del_flag
        limit #{beginNo,jdbcType=VARCHAR}, #{pageSize,jdbcType=VARCHAR}
    </select>
    <!-- 模糊 查询数量 -->
    <select id="searchCountByParam" parameterType="com.sicmed.remote.live.bean.FuzzySearchLiveBean"
            resultType="java.lang.Integer">
        select
        COUNT(live.id)
        from _live live
        LEFT JOIN custom_branch customBranch ON customBranch.id = live.live_branch
        <where>
            live.del_flag = '0'
            AND live.live_end_time > CURRENT_TIMESTAMP()
                AND ((live.live_branch = #{branchId,jdbcType=VARCHAR} AND live.live_scope = "LIVE_LOCAL_BRANCH")
                OR (live.live_hospital = #{hospitalId,jdbcType=VARCHAR} AND live.live_scope = "LIVE_LOCAL_HOSPITAL")
                OR (customBranch.branch_id = #{sameBranchId,jdbcType=VARCHAR} AND live.live_scope = "LIVE_SAME_BRANCH")
                OR (live.live_scope = "LIVE_ALL_HOSPITAL"))
            AND live.live_name LIKE CONCAT(CONCAT('%',#{param,jdbcType=VARCHAR}),'%')
        </where>
    </select>
    <!-- 模糊 查询列表 并排序 -->
    <select id="searchListByParam" parameterType="com.sicmed.remote.live.bean.FuzzySearchLiveBean"
            resultMap="ListResultMap">
        select
        live.id id, live_id, live_name, live_number, live_cover_url, live_description, live_start_time,
        live_end_time, live_branch, live_password, live_type, live_period, live_url, live_scope,
        live_user, live_mute, live_record, live_start, live_json,
        customBranch.custom_name liveBranchName,hospital.hospital_name liveHospitalName
        from _live live
        LEFT JOIN custom_branch customBranch ON customBranch.id = live.live_branch
        LEFT JOIN base_hospital hospital ON hospital.id = live.live_hospital
        <where>
            live.del_flag = '0'
            AND live.live_end_time > CURRENT_TIMESTAMP()
                AND ((live.live_branch = #{branchId,jdbcType=VARCHAR} AND live.live_scope = "LIVE_LOCAL_BRANCH")
                OR (live.live_hospital = #{hospitalId,jdbcType=VARCHAR} AND live.live_scope = "LIVE_LOCAL_HOSPITAL")
                OR (customBranch.branch_id = #{sameBranchId,jdbcType=VARCHAR} AND live.live_scope = "LIVE_SAME_BRANCH")
                OR (live.live_scope = "LIVE_ALL_HOSPITAL"))
            AND live.live_name LIKE CONCAT(CONCAT('%',#{param,jdbcType=VARCHAR}),'%')
        </where>
        ORDER BY
        live.create_time DESC , live.del_flag
        limit #{beginNo,jdbcType=VARCHAR}, #{pageSize,jdbcType=VARCHAR}
    </select>
    <!-- 根据创建人 查询列表 数量 -->
    <select id="getCountByUser" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        select
        COUNT(id)
        from _live
        <where>
            del_flag = '0'
            AND create_user = #{id,jdbcType=VARCHAR}

        </where>
    </select>
    <!-- 根据创建人 查询列表 并排序 -->
    <select id="getListByUser" parameterType="com.sicmed.remote.live.bean.GetLiveParamBean"
            resultMap="ListResultMap">
        select
        live.id id, live_id, live_name, live_number, live_cover_url, live_description, live_start_time,
        live_end_time, live_branch, live_password, live_type, live_period, live_url, live_scope,
        live_user, live_mute, live_record, live_start, live_json,
        customBranch.custom_name liveBranchName,hospital.hospital_name liveHospitalName
        from _live live
        LEFT JOIN custom_branch customBranch ON customBranch.id = live.live_branch
        LEFT JOIN base_hospital hospital ON hospital.id = live.live_hospital
        <where>
            live.del_flag = '0'
            AND live.create_user = #{createUser,jdbcType=VARCHAR}
        </where>
        ORDER BY
        live.create_time DESC , live.del_flag
        limit #{beginNo,jdbcType=VARCHAR}, #{pageSize,jdbcType=VARCHAR}
    </select>
</mapper>