<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.web.mapper.ApplyFormMapper">
    <resultMap id="BaseResultMap" type="com.sicmed.remote.web.entity.ApplyForm">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="apply_number" jdbcType="VARCHAR" property="applyNumber"/>
        <result column="case_record_id" jdbcType="VARCHAR" property="caseRecordId"/>
        <result column="case_summary" jdbcType="VARCHAR" property="caseSummary"/>
        <result column="apply_summary" jdbcType="VARCHAR" property="applySummary"/>
        <result column="apply_summary" jdbcType="VARCHAR" property="applySummary"/>
        <result column="invite_summary" jdbcType="VARCHAR" property="inviteSummary"/>
        <result column="apply_user_id" jdbcType="VARCHAR" property="applyUserId"/>
        <result column="apply_hospital_id" jdbcType="VARCHAR" property="applyHospitalId"/>
        <result column="apply_branch_id" jdbcType="VARCHAR" property="applyBranchId"/>
        <result column="invite_user_id" jdbcType="VARCHAR" property="inviteUserId"/>
        <result column="invite_hospital_id" jdbcType="VARCHAR" property="inviteHospitalId"/>
        <result column="invite_branch_id" jdbcType="VARCHAR" property="inviteBranchId"/>
        <result column="consultant_apply_time" jdbcType="TIMESTAMP" property="consultantApplyTime"/>
        <result column="apply_status" jdbcType="VARCHAR" property="applyStatus"/>
        <result column="apply_type" jdbcType="VARCHAR" property="applyType"/>
        <result column="apply_remark" jdbcType="VARCHAR" property="applyRemark"/>
        <result column="refuse_remark" jdbcType="VARCHAR" property="refuseRemark"/>
        <result column="apply_urgent" jdbcType="VARCHAR" property="applyUrgent"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, apply_number, case_record_id, case_summary, apply_summary, invite_summary,
    apply_user_id, apply_hospital_id, invite_user_id, invite_hospital_id,invite_branch_id, apply_branch_id,
    consultant_apply_time, apply_status, apply_type, apply_remark,refuse_remark,apply_urgent, create_time, create_user,
    update_time, update_user, delete_time, delete_user, del_flag
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_form
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!--转诊医生相关查询-->
    <select id="selectApplyInquiry" parameterType="com.sicmed.remote.web.bean.ApplyFormBean" resultMap="BaseResultMap">
        select id,case_summary, apply_summary, invite_summary,consultant_apply_time,apply_status,case_record_id,
        apply_type, apply_remark,apply_urgent, create_time,update_time
        from apply_form
        <where>
            del_flag = "0"
            <if test="consultationTypeList != null">
                AND apply_type IN
                <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="consultationStatusList != null">
                AND apply_status IN
                <foreach collection="consultationStatusList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            AND (apply_user_id = #{applyUserId,jdbcType=VARCHAR}
            or invite_user_id = #{inviteUserId,jdbcType=VARCHAR})
        </where>
        order by apply_urgent desc,update_time,create_time
        limit #{beginNo},#{pageSize}
    </select>

    <!--转诊医生排期审核查询-->
    <select id="selectApplyInquiryDate" parameterType="com.sicmed.remote.web.bean.ApplyFormBean"
            resultMap="BaseResultMap">
        select id,case_summary, apply_summary, invite_summary,consultant_apply_time,apply_status,case_record_id,
        apply_type, apply_remark,apply_urgent, create_time,update_time
        from apply_form
        <where>
            del_flag = "0"
            <if test="consultationTypeList != null">
                AND apply_type IN
                <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="consultationStatusList != null">
                AND apply_status IN
                <foreach collection="consultationStatusList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="inviteUserId != null">
                AND invite_user_id = #{inviteUserId,jdbcType=VARCHAR}
            </if>
        </where>
        order by apply_urgent desc,update_time,create_time
        limit #{beginNo},#{pageSize}
    </select>

    <!--转诊医政查询-->
    <select id="sirSelectInquiry" parameterType="com.sicmed.remote.web.bean.ApplyFormBean" resultMap="BaseResultMap">
        select id,case_summary, apply_summary, invite_summary,consultant_apply_time,apply_status,case_record_id,
        apply_type, apply_remark,apply_urgent, create_time,update_time
        from apply_form
        <where>
            del_flag = "0"
            <if test="consultationTypeList != null">
                AND apply_type IN
                <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="consultationStatusList != null">
                AND apply_status IN
                <foreach collection="consultationStatusList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            AND (apply_hospital_id = #{applyHospitalId,jdbcType=VARCHAR}
            or invite_hospital_id = #{inviteHospitalId,jdbcType=VARCHAR})
        </where>
        order by apply_urgent desc,update_time,create_time
        limit #{beginNo},#{pageSize}
    </select>

    <!--工作台会诊详细信息查询-->
    <resultMap id="BeanResultMap" type="com.sicmed.remote.web.bean.ApplyFormBean">
        <id column="ayfId" jdbcType="VARCHAR" property="id"/>
        <result column="ayfapplyNumber" jdbcType="VARCHAR" property="applyNumber"/>
        <result column="ayfcaseRecordId" jdbcType="VARCHAR" property="caseRecordId"/>
        <result column="ayfcaseSummary" jdbcType="VARCHAR" property="caseSummary"/>
        <result column="ayfapplySummary" jdbcType="VARCHAR" property="applySummary"/>
        <result column="ayfinviteSummary" jdbcType="VARCHAR" property="inviteSummary"/>
        <result column="ayfapplyUserId" jdbcType="VARCHAR" property="applyUserId"/>
        <result column="ayfapplyHospitalId" jdbcType="VARCHAR" property="applyHospitalId"/>
        <result column="ayfapplyBranchId" jdbcType="VARCHAR" property="applyBranchId"/>
        <result column="ayfinviteUserId" jdbcType="VARCHAR" property="inviteUserId"/>
        <result column="ayfinviteHospitalId" jdbcType="VARCHAR" property="inviteHospitalId"/>
        <result column="ayfinviteBranchId" jdbcType="VARCHAR" property="inviteBranchId"/>
        <result column="ayfconsultantApplyTime" jdbcType="TIMESTAMP" property="consultantApplyTime"/>
        <result column="ayfapplyStatus" jdbcType="VARCHAR" property="applyStatus"/>
        <result column="ayfapplyType" jdbcType="VARCHAR" property="applyType"/>
        <result column="atyapplyRemark" jdbcType="VARCHAR" property="applyRemark"/>
        <result column="atyrefuseRemark" jdbcType="VARCHAR" property="refuseRemark"/>
        <result column="ayfapplyUrgent" jdbcType="VARCHAR" property="applyUrgent"/>

        <result column="cpId" jdbcType="INTEGER" property="patientId"/>
        <result column="crpatientAge" jdbcType="INTEGER" property="patientAge"/>
        <result column="crpatientSex" jdbcType="CHAR" property="patientSex"/>
        <result column="crpatientHeight" jdbcType="INTEGER" property="patientHeight"/>
        <result column="crpatientWeight" jdbcType="INTEGER" property="patientWeight"/>
        <result column="crcaseDiagnosis" jdbcType="VARCHAR" property="caseDiagnosis"/>

        <result column="cpdetailAddress" jdbcType="VARCHAR" property="detailAddress"/>
        <result column="cppatientName" jdbcType="VARCHAR" property="patientName"/>
        <result column="cppatientCard" jdbcType="VARCHAR" property="patientCard"/>
        <result column="cppatientPhone" jdbcType="VARCHAR" property="patientPhone"/>

        <result column="cctconsultantStartTime" jdbcType="VARCHAR" property="consultantStartTime"/>
        <result column="cctconsultantEndTime" jdbcType="TIMESTAMP" property="consultantEndTime"/>
        <result column="cctconsultantReport" jdbcType="VARCHAR" property="consultantReport"/>
        <result column="cctconsultantFeedback" jdbcType="VARCHAR" property="consultantFeedback"/>
        <result column="cctconsultantPrice" jdbcType="VARCHAR" property="consultantPrice"/>
        <result column="ccthospitalPrice" jdbcType="VARCHAR" property="hospitalPrice"/>
        <result column="consultantUserList" jdbcType="VARCHAR" property="consultantUserList"/>

        <collection property="applyTimeList" ofType="com.sicmed.remote.web.entity.ApplyTime" javaType="ArrayList">
            <result column="ayteventStartTime" jdbcType="TIMESTAMP" property="eventStartTime"/>
            <result column="ayteventEndTime" jdbcType="TIMESTAMP" property="eventEndTime"/>
        </collection>

        <collection property="caseContentList" ofType="com.sicmed.remote.web.entity.CaseContent" javaType="ArrayList">
            <result column="cccontentTypeId" jdbcType="VARCHAR" property="contentTypeId"/>
            <result column="cccontentPath" jdbcType="VARCHAR" property="contentPath"/>
            <result column="ccorderWeight" jdbcType="INTEGER" property="orderWeight"/>
            <result column="cccontentRemark" jdbcType="VARCHAR" property="contentRemark"/>
            <result column="ccid" jdbcType="VARCHAR" property="id"/>
        </collection>
        <collection property="applyNodeList" ofType="com.sicmed.remote.web.entity.ApplyNode" javaType="ArrayList">
            <result column="applyNodeId" jdbcType="VARCHAR" property="id"/>
            <result column="applyNodeName" jdbcType="VARCHAR" property="nodeName"/>
            <result column="applyNodeTime" jdbcType="INTEGER" property="nodeTime"/>
            <result column="applyNodeOperator" jdbcType="VARCHAR" property="nodeOperator"/>
        </collection>
    </resultMap>
    <sql id="Bean_Column_List">
        ayf.id ayfId,ayf.apply_number ayfapplyNumber,ayf.case_record_id ayfcaseRecordId,ayf.case_summary ayfcaseSummary,
        ayf.apply_summary ayfapplySummary,ayf.invite_summary ayfinviteSummary,ayf.apply_user_id ayfapplyUserId,
        ayf.apply_hospital_id ayfapplyHospitalId,ayf.apply_branch_id ayfapplyBranchId,ayf.invite_user_id ayfinviteUserId,
        ayf.invite_hospital_id ayfinviteHospitalId,ayf.invite_branch_id ayfinviteBranchId,
        ayf.consultant_apply_time ayfconsultantApplyTime,ayf.apply_status ayfapplyStatus,ayf.apply_type ayfapplyType,
        ayf.apply_remark atyapplyRemark,ayf.refuse_remark atyrefuseRemark,ayf.apply_urgent ayfapplyUrgent,
        ayt.event_start_time ayteventStartTime,ayt.event_end_time ayteventEndTime,
        cr.patient_age crpatientAge,cr.patient_sex crpatientSex,cr.patient_height crpatientHeight,
        cr.patient_weight crpatientWeight,cr.case_diagnosis crcaseDiagnosis,
        cp.id cpId,
        cp.detail_address cpdetailAddress,
        cp.patient_name cppatientName,
        cp.patient_card cppatientCard,
        cp.patient_phone cppatientPhone,
        cc.content_type_id cccontentTypeId,cc.content_path cccontentPath,cc.order_weight ccorderWeight,
        cc.content_remark cccontentRemark,cc.id ccid,
        cct.consultant_start_time cctconsultantStartTime,cct.consultant_end_time  cctconsultantEndTime,
        cct.consultant_report cctconsultantReport,cct.consultant_feedback cctconsultantFeedback,
        cct.consultant_price cctconsultantPrice,cct.hospital_price ccthospitalPrice,
        cct.consultant_user_list consultantUserList,
        an.id applyNodeId,
        an.node_name applyNodeName,
        an.node_time applyNodeTime,
        an.node_operator applyNodeOperator

    </sql>
    <select id="detailById" parameterType="java.lang.String" resultMap="BeanResultMap">
        select
        <include refid="Bean_Column_List"/>
        from apply_form ayf
        left join case_record cr on cr.id = ayf.case_record_id
        left join case_patient cp on cp.id = cr.patient_id
        left join case_consultant cct on cct.id = ayf.id
        left join apply_time ayt on ayt.apply_form_id = ayf.id AND ayt.del_flag = "0"
        left join case_content cc on cc.record_id = cr.id AND cc.del_flag = "0"
        left join apply_node an on an.apply_id = ayf.id
        where ayf.id = #{id} and ayf.del_flag= "0" order by cc.order_weight,an.node_time,ayt.event_start_time
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from apply_form
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.sicmed.remote.web.entity.ApplyForm">
    insert into apply_form (id, apply_number, case_record_id, 
      case_summary, apply_summary, invite_summary, 
      apply_user_id, apply_hospital_id, invite_user_id,
      invite_hospital_id,invite_branch_id, apply_branch_id, consultant_apply_time,
      apply_status, apply_type, apply_remark,refuse_remark, applyUrgent,
      create_time, create_user, update_time, 
      update_user, delete_time, delete_user, 
      del_flag)
    values (#{id,jdbcType=VARCHAR}, #{applyNumber,jdbcType=VARCHAR}, #{caseRecordId,jdbcType=VARCHAR}, 
      #{caseSummary,jdbcType=VARCHAR}, #{applySummary,jdbcType=VARCHAR}, #{inviteSummary,jdbcType=VARCHAR}, 
      #{applyUserId,jdbcType=VARCHAR}, #{applyHospitalId,jdbcType=VARCHAR}, #{inviteUserId,jdbcType=VARCHAR},
      #{inviteHospitalId,jdbcType=VARCHAR},#{inviteBranchId,jdbcType=VARCHAR}, #{applyBranchId,jdbcType=VARCHAR}, #{consultantApplyTime,jdbcType=TIMESTAMP},
      #{applyStatus,jdbcType=VARCHAR}, #{applyType,jdbcType=VARCHAR}, #{applyRemark,jdbcType=VARCHAR}, #{refuseRemark,jdbcType=VARCHAR},  #{applyUrgent,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, #{deleteUser,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.sicmed.remote.web.entity.ApplyForm">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into apply_form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="applyNumber != null">
                apply_number,
            </if>
            <if test="caseRecordId != null">
                case_record_id,
            </if>
            <if test="caseSummary != null">
                case_summary,
            </if>
            <if test="applySummary != null">
                apply_summary,
            </if>
            <if test="inviteSummary != null">
                invite_summary,
            </if>
            <if test="applyUserId != null">
                apply_user_id,
            </if>
            <if test="applyHospitalId != null">
                apply_hospital_id,
            </if>
            <if test="inviteUserId != null">
                invite_user_id,
            </if>
            <if test="inviteHospitalId != null">
                invite_hospital_id,
            </if>
            <if test="inviteBranchId != null">
                invite_branch_id,
            </if>
            <if test="applyBranchId != null">
                apply_branch_id,
            </if>
            consultant_apply_time,
            <if test="applyStatus != null">
                apply_status,
            </if>
            <if test="applyType != null">
                apply_type,
            </if>
            <if test="applyRemark != null">
                apply_remark,
            </if>
            <if test="refuseRemark != null">
                refuse_remark,
            </if>
            <if test="applyUrgent != null">
                apply_urgent,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="applyNumber != null">
                #{applyNumber,jdbcType=VARCHAR},
            </if>
            <if test="caseRecordId != null">
                #{caseRecordId,jdbcType=VARCHAR},
            </if>
            <if test="caseSummary != null">
                #{caseSummary,jdbcType=VARCHAR},
            </if>
            <if test="applySummary != null">
                #{applySummary,jdbcType=VARCHAR},
            </if>
            <if test="inviteSummary != null">
                #{inviteSummary,jdbcType=VARCHAR},
            </if>
            <if test="applyUserId != null">
                #{applyUserId,jdbcType=VARCHAR},
            </if>
            <if test="applyHospitalId != null">
                #{applyHospitalId,jdbcType=VARCHAR},
            </if>
            <if test="inviteUserId != null">
                #{inviteUserId,jdbcType=VARCHAR},
            </if>
            <if test="inviteHospitalId != null">
                #{inviteHospitalId,jdbcType=VARCHAR},
            </if>
            <if test="inviteBranchId != null">
                #{inviteBranchId,jdbcType=VARCHAR},
            </if>
            <if test="applyBranchId != null">
                #{applyBranchId,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="applyStatus != null">
                #{applyStatus,jdbcType=VARCHAR},
            </if>
            <if test="applyType != null">
                #{applyType,jdbcType=VARCHAR},
            </if>
            <if test="applyRemark != null">
                #{applyRemark,jdbcType=VARCHAR},
            </if>
            <if test="refuseRemark != null">
                #{refuseRemark,jdbcType=VARCHAR},
            </if>
            <if test="applyUrgent != null">
                #{applyUrgent,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.remote.web.entity.ApplyForm">
        update apply_form
        <set>
            <if test="applyNumber != null">
                apply_number = #{applyNumber,jdbcType=VARCHAR},
            </if>
            <if test="caseRecordId != null">
                case_record_id = #{caseRecordId,jdbcType=VARCHAR},
            </if>
            <if test="caseSummary != null">
                case_summary = #{caseSummary,jdbcType=VARCHAR},
            </if>
            <if test="applySummary != null">
                apply_summary = #{applySummary,jdbcType=VARCHAR},
            </if>
            <if test="inviteSummary != null">
                invite_summary = #{inviteSummary,jdbcType=VARCHAR},
            </if>
            <if test="applyUserId != null">
                apply_user_id = #{applyUserId,jdbcType=VARCHAR},
            </if>
            <if test="applyHospitalId != null">
                apply_hospital_id = #{applyHospitalId,jdbcType=VARCHAR},
            </if>
            <if test="inviteUserId != null">
                invite_user_id = #{inviteUserId,jdbcType=VARCHAR},
            </if>
            <if test="inviteHospitalId != null">
                invite_hospital_id = #{inviteHospitalId,jdbcType=VARCHAR},
            </if>
            <if test="inviteBranchId != null">
                invite_branch_id = #{inviteBranchId,jdbcType=VARCHAR},
            </if>
            <if test="applyBranchId != null">
                apply_branch_id = #{applyBranchId,jdbcType=VARCHAR},
            </if>
            <if test="consultantApplyTime != null">
                consultant_apply_time = #{consultantApplyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applyStatus != null">
                apply_status = #{applyStatus,jdbcType=VARCHAR},
            </if>
            <if test="applyType != null">
                apply_type = #{applyType,jdbcType=VARCHAR},
            </if>
            <if test="applyRemark != null">
                apply_remark = #{applyRemark,jdbcType=VARCHAR},
            </if>
            <if test="refuseRemark != null">
                refuse_remark = #{refuseRemark,jdbcType=VARCHAR},
            </if>
            <if test="applyUrgent != null">
                apply_urgent = #{applyUrgent,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            update_time = now(),
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sicmed.remote.web.entity.ApplyForm">
    update apply_form
    set apply_number = #{applyNumber,jdbcType=VARCHAR},
      case_record_id = #{caseRecordId,jdbcType=VARCHAR},
      case_summary = #{caseSummary,jdbcType=VARCHAR},
      apply_summary = #{applySummary,jdbcType=VARCHAR},
      invite_summary = #{inviteSummary,jdbcType=VARCHAR},
      apply_user_id = #{applyUserId,jdbcType=VARCHAR},
      apply_hospital_id = #{applyHospitalId,jdbcType=VARCHAR},
      invite_user_id = #{inviteUserId,jdbcType=VARCHAR},
      invite_hospital_id = #{inviteHospitalId,jdbcType=VARCHAR},
      invite_branch_id = #{inviteBranchId,jdbcType=VARCHAR},
      apply_branch_id = #{applyBranchId,jdbcType=VARCHAR},
      consultant_apply_time = #{consultantApplyTime,jdbcType=TIMESTAMP},
      apply_status = #{applyStatus,jdbcType=VARCHAR},
      apply_type = #{applyType,jdbcType=VARCHAR},
      apply_remark = #{applyRemark,jdbcType=VARCHAR},
      refuse_remark = #{refuseRemark,jdbcType=VARCHAR},
      apply_urgent = #{applyUrgent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateInviteDoctorByPrimaryKeySelective" parameterType="com.sicmed.remote.web.entity.ApplyForm">
        update apply_form
        <set>
            invite_summary = #{inviteSummary,jdbcType=VARCHAR},
            invite_user_id = #{inviteUserId,jdbcType=VARCHAR},
            invite_hospital_id = #{inviteHospitalId,jdbcType=VARCHAR},
            invite_branch_id = #{inviteBranchId,jdbcType=VARCHAR},
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--主会诊医生相关查询-->
    <select id="getByApplyFormBean" parameterType="com.sicmed.remote.web.bean.ApplyFormBean" resultMap="BaseResultMap">
        select id,case_summary, apply_summary, invite_summary,consultant_apply_time,apply_status,case_record_id,
        apply_type, apply_remark,apply_urgent, create_time,update_time
        from apply_form
        <where>
            del_flag = "0"
            <if test="applyUserId != null">
                AND apply_user_id = #{applyUserId,jdbcType=VARCHAR}
            </if>
            <if test="inviteUserId != null">
                AND invite_user_id = #{inviteUserId,jdbcType=VARCHAR}
            </if>
            <if test="inviteBranchId != null">
                AND invite_branch_id = #{inviteBranchId,jdbcType=VARCHAR}
            </if>
            <if test="consultationTypeList != null">
                AND apply_type IN
                <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="consultationStatusList != null">
                AND apply_status IN
                <foreach collection="consultationStatusList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
        order by apply_urgent desc ,consultant_apply_time,update_time,create_time
        limit #{beginNo},#{pageSize}
    </select>

    <!--发出会诊 总数目查询-->
    <resultMap id="ConsultationStatusBeanResultMap" type="com.sicmed.remote.web.bean.ConsultationStatusBean">
        <result column="cacs" jdbcType="VARCHAR" property="consultationApplyCreateSuccess"/>
        <result column="caa" jdbcType="VARCHAR" property="consultationApplyAccede"/>
        <result column="car" jdbcType="VARCHAR" property="consultationApplyReject"/>
        <result column="csa" jdbcType="VARCHAR" property="consultationSlaveAccede"/>
        <result column="csr" jdbcType="VARCHAR" property="consultationSlaveReject"/>
        <result column="cma" jdbcType="VARCHAR" property="consultationMasterAccede"/>
        <result column="cmr" jdbcType="VARCHAR" property="consultationMasterReject"/>
        <result column="cdrl" jdbcType="VARCHAR" property="consultationDoctorLocked"/>
        <result column="cdel" jdbcType="VARCHAR" property="consultationDatetimeLocked"/>
        <result column="cb" jdbcType="VARCHAR" property="consultationBegin"/>
        <result column="crs" jdbcType="VARCHAR" property="consultationReportSubmitted"/>
        <result column="cfs" jdbcType="VARCHAR" property="consultationFeedbackSubmitted"/>
        <result column="ce" jdbcType="VARCHAR" property="consultationEn"/>
    </resultMap>
    <select id="sendSelectAllCount" parameterType="com.sicmed.remote.web.bean.ApplyFormBean"
            resultMap="ConsultationStatusBeanResultMap">
        select
        count(apply_status="CONSULTATION_APPLY_CREATE_SUCCESS" or NULL) cacs,
        count(apply_status="CONSULTATION_APPLY_ACCEDE" or NULL) caa,
        count(apply_status="CONSULTATION_APPLY_REJECT" or NULL) car,
        count(apply_status="CONSULTATION_SLAVE_ACCEDE" or NULL) csa,
        count(apply_status="CONSULTATION_SLAVE_REJECT" or NULL) csr,
        count(apply_status="CONSULTATION_MASTER_ACCEDE" or NULL) cma,
        count(apply_status="CONSULTATION_MASTER_REJECT" or NULL) cmr,
        count(apply_status="CONSULTATION_DOCTOR_LOCKED" or NULL) cdrl,
        count(apply_status="CONSULTATION_DATETIME_LOCKED" or NULL) cdel,
        count(apply_status="CONSULTATION_BEGIN" or NULL) cb,
        count(apply_status="CONSULTATION_REPORT_SUBMITTED" or NULL) crs,
        count(apply_status="CONSULTATION_FEEDBACK_SUBMITTED" or NULL) cfs,
        count(apply_status="CONSULTATION_END" or NULL) ce
        from apply_form
        <where>
            del_flag = "0"
            <if test="applyUserId != null">
                AND apply_user_id = #{applyUserId,jdbcType=VARCHAR}
            </if>
            <if test="applyHospitalId != null">
                AND apply_hospital_id = #{applyHospitalId,jdbcType=VARCHAR}
            </if>
            <if test="consultationTypeList != null">
                AND apply_type IN
                <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </select>

    <!--转诊数目查询返回-->
    <resultMap id="InquiryStatusBeanResultMap" type="com.sicmed.remote.web.bean.InquiryStatusBean">
        <result column="cacs" jdbcType="VARCHAR" property="inquiryApplyCreateSuccess"/>
        <result column="caa" jdbcType="VARCHAR" property="inquiryApplyAccede"/>
        <result column="car" jdbcType="VARCHAR" property="inquiryApplyReject"/>
        <result column="csa" jdbcType="VARCHAR" property="inquirySlaveAccede"/>
        <result column="csr" jdbcType="VARCHAR" property="inquirySlaveReject"/>
        <result column="cma" jdbcType="VARCHAR" property="inquiryMasterAccede"/>
        <result column="cmr" jdbcType="VARCHAR" property="inquiryMasterReject"/>
        <result column="cdrl" jdbcType="VARCHAR" property="inquiryDatetimeLocked"/>
        <result column="crs" jdbcType="VARCHAR" property="inquiryEnd"/>
    </resultMap>

    <!--转诊 医生 各状态数目查询-->
    <select id="inquiryCreateSuccessAllCountDr" parameterType="com.sicmed.remote.web.bean.InquiryStatusBean"
            resultMap="InquiryStatusBeanResultMap">
        select
        count(apply_status="INQUIRY_APPLY_CREATE_SUCCESS" and invite_user_id != #{applyUserId} or NULL)
        cacs,
        count(apply_status="INQUIRY_APPLY_ACCEDE" or NULL) caa,
        count(apply_status="INQUIRY_APPLY_REJECT" or NULL) car,
        count(apply_status="INQUIRY_SLAVE_ACCEDE" and apply_user_id != #{applyUserId} or NULL) csa,
        count(apply_status="INQUIRY_SLAVE_REJECT" or NULL) csr,
        count(apply_status="INQUIRY_MASTER_ACCEDE" or NULL) cma,
        count(apply_status="INQUIRY_MASTER_REJECT" or NULL) cmr,
        count(apply_status="INQUIRY_DATETIME_LOCKED" or NULL) cdrl,
        count(apply_status="INQUIRY_END" or NULL) crs
        from apply_form
        <where>
            del_flag = "0"
            <if test="consultationTypeList != null">
                AND apply_type IN
                <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="applyUserId != null">
                AND (apply_user_id = #{applyUserId,jdbcType=VARCHAR} or invite_user_id =
                #{applyUserId,jdbcType=VARCHAR})
            </if>
        </where>
    </select>

    <!--转诊 医政 各状态数目查询-->
    <select id="inquiryCreateSuccessAllCountSir" parameterType="com.sicmed.remote.web.bean.InquiryStatusBean"
            resultMap="InquiryStatusBeanResultMap">
        select
        count(apply_status="INQUIRY_APPLY_CREATE_SUCCESS" and invite_hospital_id != #{applyHospitalId} or NULL)
        cacs,
        count(apply_status="INQUIRY_APPLY_ACCEDE" or NULL) caa,
        count(apply_status="INQUIRY_APPLY_REJECT" or NULL) car,
        count(apply_status="INQUIRY_SLAVE_ACCEDE" and apply_hospital_id != #{applyHospitalId} or NULL) csa,
        count(apply_status="INQUIRY_SLAVE_REJECT" or NULL) csr,
        count(apply_status="INQUIRY_MASTER_ACCEDE" or NULL) cma,
        count(apply_status="INQUIRY_MASTER_REJECT" or NULL) cmr,
        count(apply_status="INQUIRY_DATETIME_LOCKED" or NULL) cdrl,
        count(apply_status="INQUIRY_END" or NULL) crs
        from apply_form
        <where>
            del_flag = "0"
            <if test="consultationTypeList != null">
                AND apply_type IN
                <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="applyUserId != null">
                AND (apply_hospital_id = #{applyHospitalId,jdbcType=VARCHAR} or invite_hospital_id =
                #{applyHospitalId,jdbcType=VARCHAR})
            </if>
        </where>
    </select>

    <!--会诊医政相关查询-->
    <select id="sirGetByApplyFormBean" parameterType="com.sicmed.remote.web.bean.ApplyFormBean"
            resultMap="BaseResultMap">
        select id,case_summary, apply_summary, invite_summary,consultant_apply_time,apply_status,case_record_id,
        apply_type, apply_remark,apply_urgent, create_time,update_time
        from apply_form
        <where>
            del_flag = "0"
            <if test="applyHospitalId != null">
                AND apply_hospital_id = #{applyHospitalId,jdbcType=VARCHAR}
            </if>
            <if test="inviteHospitalId != null">
                AND invite_hospital_id = #{inviteHospitalId,jdbcType=VARCHAR}
            </if>
            <if test="consultationTypeList != null">
                AND apply_type IN
                <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="consultationStatusList != null">
                AND apply_status IN
                <foreach collection="consultationStatusList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>

        </where>
        order by apply_urgent desc,consultant_apply_time,update_time,create_time
        limit #{beginNo},#{pageSize}
    </select>

    <!--草稿数目查询-->
    <select id="countDraft" parameterType="com.sicmed.remote.web.entity.ApplyForm" resultType="java.lang.Integer">
        select count(id) from apply_form
        where del_flag = "0" and apply_user_id = #{applyUserId} and apply_type = #{applyType}
    </select>

    <!--医生 搜索-->
    <resultMap id="BeanSearchResultMap" type="com.sicmed.remote.web.bean.ApplyFormBean">
        <id column="ayfId" jdbcType="VARCHAR" property="id"/>
        <result column="ayfapplySummary" jdbcType="VARCHAR" property="applySummary"/>
        <result column="ayfinviteSummary" jdbcType="VARCHAR" property="inviteSummary"/>
        <result column="ayfconsultantApplyTime" jdbcType="TIMESTAMP" property="consultantApplyTime"/>
        <result column="ayfapplyType" jdbcType="VARCHAR" property="applyType"/>
        <result column="ayfapplyUrgent" jdbcType="VARCHAR" property="applyUrgent"/>
        <result column="ayfapplyNumber" jdbcType="VARCHAR" property="applyNumber"/>
        <result column="ayfcaseSummary" jdbcType="VARCHAR" property="caseSummary"/>

    </resultMap>
    <sql id="Bean_Column_Search_List">
        ayf.id ayfId,ayf.apply_summary ayfapplySummary,ayf.invite_summary ayfinviteSummary,
        ayf.consultant_apply_time ayfconsultantApplyTime,ayf.apply_type ayfapplyType,
        ayf.apply_urgent ayfapplyUrgent,ayf.apply_number ayfapplyNumber,ayf.case_summary ayfcaseSummary
    </sql>
    <select id="searchByRemark" parameterType="com.sicmed.remote.web.bean.ApplyFormBean"
            resultMap="BeanSearchResultMap">
        select
        <include refid="Bean_Column_Search_List"/>
        from apply_form ayf
        left join case_consultant cct on cct.id = ayf.id
        WHERE ayf.del_flag = "0"
        and ayf.apply_remark like CONCAT('%', #{applyRemark,jdbcType=VARCHAR}, '%')
        and ayf.apply_status IN
        <foreach collection="consultationStatusList" open="(" close=")" item="item" separator="," index="">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and (ayf.invite_user_id = #{applyUserId,jdbcType=VARCHAR} or
        ayf.apply_user_id = #{applyUserId,jdbcType=VARCHAR} or
        cct.consultant_user_list like CONCAT('%', #{applyUserId,jdbcType=VARCHAR}, '%'))
        order by ayf.consultant_apply_time
        limit #{beginNo},#{pageSize}
    </select>

    <!--医政 搜索-->
    <select id="sirSearchByRemark" parameterType="com.sicmed.remote.web.bean.ApplyFormBean"
            resultMap="BeanSearchResultMap">
        select
        <include refid="Bean_Column_Search_List"/>
        from apply_form ayf
        left join case_consultant cct on cct.id = ayf.id
        WHERE ayf.del_flag = "0"
        and ayf.apply_remark like CONCAT('%', #{applyRemark,jdbcType=VARCHAR}, '%')
        and ayf.apply_status IN
        <foreach collection="consultationStatusList" open="(" close=")" item="item" separator="," index="">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and (ayf.invite_hospital_id = #{applyHospitalId,jdbcType=VARCHAR} or
        ayf.apply_hospital_id = #{applyHospitalId,jdbcType=VARCHAR})
        order by ayf.consultant_apply_time
        limit #{beginNo},#{pageSize}
    </select>
</mapper>