<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.web.mapper.ApplyFormMapper">
    <resultMap id="BaseResultMap" type="com.sicmed.remote.web.entity.ApplyForm">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="apply_number" jdbcType="VARCHAR" property="applyNumber"/>
        <result column="case_record_id" jdbcType="VARCHAR" property="caseRecordId"/>
        <result column="case_summary" jdbcType="VARCHAR" property="caseSummary"/>
        <result column="apply_summary" jdbcType="VARCHAR" property="applySummary"/>
        <result column="invite_summary" jdbcType="VARCHAR" property="inviteSummary"/>
        <result column="apply_user_id" jdbcType="VARCHAR" property="applyUserId"/>
        <result column="apply_hospital_id" jdbcType="VARCHAR" property="applyHospitalId"/>
        <result column="apply_branch_id" jdbcType="VARCHAR" property="applyBranchId"/>
        <result column="invite_user_id" jdbcType="VARCHAR" property="inviteUserId"/>
        <result column="invite_hospital_id" jdbcType="VARCHAR" property="inviteHospitalId"/>
        <result column="invite_branch_id" jdbcType="VARCHAR" property="inviteBranchId"/>
        <result column="consultant_apply_time" jdbcType="TIMESTAMP" property="consultantApplyTime"/>
        <result column="apply_status" jdbcType="VARCHAR" property="applyStatus"/>
        <result column="apply_type" jdbcType="VARCHAR" property="applyType"/>
        <result column="apply_remark" jdbcType="VARCHAR" property="applyRemark"/>
        <result column="apply_urgent" jdbcType="VARCHAR" property="applyUrgent"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, apply_number, case_record_id, case_summary, apply_summary, invite_summary,
    apply_user_id, apply_hospital_id, invite_user_id, invite_hospital_id,invite_branch_id, apply_branch_id,
    consultant_apply_time, apply_status, apply_type, apply_remark,applyUrgent, create_time, create_user,
    update_time, update_user, delete_time, delete_user, del_flag
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_form
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!--转诊相关查询-->
    <select id="selectApplyInquiry" parameterType="com.sicmed.remote.web.entity.ApplyForm" resultMap="BaseResultMap">
        select case_summary, apply_summary, invite_summary,consultant_apply_time,apply_status,case_record_id,
        apply_type, apply_remark,apply_urgent, create_time,update_time
        from apply_form
        <where>
            del_flag = "0"
            <if test="consultationTypeList != null">
                AND apply_type IN
                <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="consultationStatusList != null">
                AND apply_status IN
                <foreach collection="consultationStatusList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="applyUserId != null">
                AND (apply_user_id = #{applyUserId,jdbcType=VARCHAR}
            </if>
            <if test="inviteUserId != null">
                or invite_user_id = #{inviteUserId,jdbcType=VARCHAR})
            </if>
        </where>
        order by update_time,create_time
        limit #{beginNo},#{pageSize}
    </select>

    <!--转诊排期审核查询-->
    <select id="selectApplyInquiryDate" parameterType="com.sicmed.remote.web.entity.ApplyForm" resultMap="BaseResultMap">
        select case_summary, apply_summary, invite_summary,consultant_apply_time,apply_status,case_record_id,
        apply_type, apply_remark,apply_urgent, create_time,update_time
        from apply_form
        <where>
            del_flag = "0"
            <if test="consultationTypeList != null">
                AND apply_type IN
                <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="consultationStatusList != null">
                AND apply_status IN
                <foreach collection="consultationStatusList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="inviteUserId != null">
                AND invite_user_id = #{inviteUserId,jdbcType=VARCHAR}
            </if>
        </where>
        order by update_time,create_time
        limit #{beginNo},#{pageSize}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from apply_form
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.sicmed.remote.web.entity.ApplyForm">
    insert into apply_form (id, apply_number, case_record_id, 
      case_summary, apply_summary, invite_summary, 
      apply_user_id, apply_hospital_id, invite_user_id,
      invite_hospital_id,invite_branch_id, apply_branch_id, consultant_apply_time,
      apply_status, apply_type, apply_remark, applyUrgent,
      create_time, create_user, update_time, 
      update_user, delete_time, delete_user, 
      del_flag)
    values (#{id,jdbcType=VARCHAR}, #{applyNumber,jdbcType=VARCHAR}, #{caseRecordId,jdbcType=VARCHAR}, 
      #{caseSummary,jdbcType=VARCHAR}, #{applySummary,jdbcType=VARCHAR}, #{inviteSummary,jdbcType=VARCHAR}, 
      #{applyUserId,jdbcType=VARCHAR}, #{applyHospitalId,jdbcType=VARCHAR}, #{inviteUserId,jdbcType=VARCHAR},
      #{inviteHospitalId,jdbcType=VARCHAR},#{inviteBranchId,jdbcType=VARCHAR}, #{applyBranchId,jdbcType=VARCHAR}, #{consultantApplyTime,jdbcType=TIMESTAMP},
      #{applyStatus,jdbcType=VARCHAR}, #{applyType,jdbcType=VARCHAR}, #{applyRemark,jdbcType=VARCHAR},  #{applyUrgent,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, #{deleteUser,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.sicmed.remote.web.entity.ApplyForm">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into apply_form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="applyNumber != null">
                apply_number,
            </if>
            <if test="caseRecordId != null">
                case_record_id,
            </if>
            <if test="caseSummary != null">
                case_summary,
            </if>
            <if test="applySummary != null">
                apply_summary,
            </if>
            <if test="inviteSummary != null">
                invite_summary,
            </if>
            <if test="applyUserId != null">
                apply_user_id,
            </if>
            <if test="applyHospitalId != null">
                apply_hospital_id,
            </if>
            <if test="inviteUserId != null">
                invite_user_id,
            </if>
            <if test="inviteHospitalId != null">
                invite_hospital_id,
            </if>
            <if test="inviteBranchId != null">
                invite_branch_id,
            </if>
            <if test="applyBranchId != null">
                apply_branch_id,
            </if>
            consultant_apply_time,
            <if test="applyStatus != null">
                apply_status,
            </if>
            <if test="applyType != null">
                apply_type,
            </if>
            <if test="applyRemark != null">
                apply_remark,
            </if>
            <if test="applyUrgent != null">
                apply_urgent,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="applyNumber != null">
                #{applyNumber,jdbcType=VARCHAR},
            </if>
            <if test="caseRecordId != null">
                #{caseRecordId,jdbcType=VARCHAR},
            </if>
            <if test="caseSummary != null">
                #{caseSummary,jdbcType=VARCHAR},
            </if>
            <if test="applySummary != null">
                #{applySummary,jdbcType=VARCHAR},
            </if>
            <if test="inviteSummary != null">
                #{inviteSummary,jdbcType=VARCHAR},
            </if>
            <if test="applyUserId != null">
                #{applyUserId,jdbcType=VARCHAR},
            </if>
            <if test="applyHospitalId != null">
                #{applyHospitalId,jdbcType=VARCHAR},
            </if>
            <if test="inviteUserId != null">
                #{inviteUserId,jdbcType=VARCHAR},
            </if>
            <if test="inviteHospitalId != null">
                #{inviteHospitalId,jdbcType=VARCHAR},
            </if>
            <if test="inviteBranchId != null">
                #{inviteBranchId,jdbcType=VARCHAR},
            </if>
            <if test="applyBranchId != null">
                #{applyBranchId,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="applyStatus != null">
                #{applyStatus,jdbcType=VARCHAR},
            </if>
            <if test="applyType != null">
                #{applyType,jdbcType=VARCHAR},
            </if>
            <if test="applyRemark != null">
                #{applyRemark,jdbcType=VARCHAR},
            </if>
            <if test="applyUrgent != null">
                #{applyUrgent,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.remote.web.entity.ApplyForm">
        update apply_form
        <set>
            <if test="applyNumber != null">
                apply_number = #{applyNumber,jdbcType=VARCHAR},
            </if>
            <if test="caseRecordId != null">
                case_record_id = #{caseRecordId,jdbcType=VARCHAR},
            </if>
            <if test="caseSummary != null">
                case_summary = #{caseSummary,jdbcType=VARCHAR},
            </if>
            <if test="applySummary != null">
                apply_summary = #{applySummary,jdbcType=VARCHAR},
            </if>
            <if test="inviteSummary != null">
                invite_summary = #{inviteSummary,jdbcType=VARCHAR},
            </if>
            <if test="applyUserId != null">
                apply_user_id = #{applyUserId,jdbcType=VARCHAR},
            </if>
            <if test="applyHospitalId != null">
                apply_hospital_id = #{applyHospitalId,jdbcType=VARCHAR},
            </if>
            <if test="inviteUserId != null">
                invite_user_id = #{inviteUserId,jdbcType=VARCHAR},
            </if>
            <if test="inviteHospitalId != null">
                invite_hospital_id = #{inviteHospitalId,jdbcType=VARCHAR},
            </if>
            <if test="inviteBranchId != null">
                invite_branch_id = #{inviteBranchId,jdbcType=VARCHAR},
            </if>
            <if test="applyBranchId != null">
                apply_branch_id = #{applyBranchId,jdbcType=VARCHAR},
            </if>
            consultant_apply_time = now(),
            <if test="applyStatus != null">
                apply_status = #{applyStatus,jdbcType=VARCHAR},
            </if>
            <if test="applyType != null">
                apply_type = #{applyType,jdbcType=VARCHAR},
            </if>
            <if test="applyRemark != null">
                apply_remark = #{applyRemark,jdbcType=VARCHAR},
            </if>
            <if test="applyUrgent != null">
                apply_urgent = #{applyUrgent,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            update_time = new(),
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sicmed.remote.web.entity.ApplyForm">
    update apply_form
    set apply_number = #{applyNumber,jdbcType=VARCHAR},
      case_record_id = #{caseRecordId,jdbcType=VARCHAR},
      case_summary = #{caseSummary,jdbcType=VARCHAR},
      apply_summary = #{applySummary,jdbcType=VARCHAR},
      invite_summary = #{inviteSummary,jdbcType=VARCHAR},
      apply_user_id = #{applyUserId,jdbcType=VARCHAR},
      apply_hospital_id = #{applyHospitalId,jdbcType=VARCHAR},
      invite_user_id = #{inviteUserId,jdbcType=VARCHAR},
      invite_hospital_id = #{inviteHospitalId,jdbcType=VARCHAR},
      invite_branch_id = #{inviteBranchId,jdbcType=VARCHAR},
      apply_branch_id = #{applyBranchId,jdbcType=VARCHAR},
      consultant_apply_time = #{consultantApplyTime,jdbcType=TIMESTAMP},
      apply_status = #{applyStatus,jdbcType=VARCHAR},
      apply_type = #{applyType,jdbcType=VARCHAR},
      apply_remark = #{applyRemark,jdbcType=VARCHAR},
      apply_urgent = #{applyUrgent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <!--会诊医生相关查询-->
    <select id="getByApplyFormBean" parameterType="com.sicmed.remote.web.bean.ApplyFormBean" resultMap="BaseResultMap">
        select case_summary, apply_summary, invite_summary,consultant_apply_time,apply_status,case_record_id,
        apply_type, apply_remark,apply_urgent, create_time,update_time
        from apply_form
        <where>
            del_flag = "0"
            <if test="applyUserId != null">
                AND apply_user_id = #{applyUserId,jdbcType=VARCHAR}
            </if>
            <if test="inviteUserId != null">
                AND invite_user_id = #{inviteUserId,jdbcType=VARCHAR}
            </if>
            <if test="consultationTypeList != null">
                AND apply_type IN
                <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="consultationStatusList != null">
                AND apply_status IN
                <foreach collection="consultationStatusList" open="(" close=")" item="item" separator="," index="">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>

        </where>
        order by update_time,create_time
        limit #{beginNo},#{pageSize}
    </select>
</mapper>