<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.web.mapper.CaseConsultantMapper">
    <resultMap id="BaseResultMap" type="com.sicmed.remote.web.entity.CaseConsultant">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="apply_user_id" jdbcType="VARCHAR" property="applyUserId"/>
        <result column="invite_user_id" jdbcType="VARCHAR" property="inviteUserId"/>
        <result column="consultant_user_list" jdbcType="VARCHAR" property="consultantUserList"/>
        <result column="consultant_start_time" jdbcType="TIMESTAMP" property="consultantStartTime"/>
        <result column="consultant_end_time" jdbcType="TIMESTAMP" property="consultantEndTime"/>
        <result column="consultant_report" jdbcType="VARCHAR" property="consultantReport"/>
        <result column="consultant_feedback" jdbcType="VARCHAR" property="consultantFeedback"/>
        <result column="consultant_price" jdbcType="DECIMAL" property="consultantPrice"/>
        <result column="hospital_price" jdbcType="DECIMAL" property="hospitalPrice"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, apply_user_id, invite_user_id, consultant_user_list, consultant_start_time, consultant_end_time, 
    consultant_report, consultant_feedback, consultant_price, hospital_price, create_time, 
    create_user, update_time, update_user, delete_time, delete_user, del_flag
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from case_consultant
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from case_consultant
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.sicmed.remote.web.entity.CaseConsultant">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into case_consultant (id, apply_user_id, invite_user_id,
        consultant_user_list, consultant_start_time,
        consultant_end_time, consultant_report,
        consultant_feedback, consultant_price, hospital_price,
        create_time, create_user, update_time,
        update_user, delete_time, delete_user,
        del_flag)
        values (#{id,jdbcType=VARCHAR}, #{applyUserId,jdbcType=VARCHAR}, #{inviteUserId,jdbcType=VARCHAR},
        #{consultantUserList,jdbcType=VARCHAR}, #{consultantStartTime,jdbcType=TIMESTAMP},
        #{consultantEndTime,jdbcType=TIMESTAMP}, #{consultantReport,jdbcType=VARCHAR},
        #{consultantFeedback,jdbcType=VARCHAR}, #{consultantPrice,jdbcType=DECIMAL}, #{hospitalPrice,jdbcType=DECIMAL},
        #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
        #{updateUser,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, #{deleteUser,jdbcType=VARCHAR},
        #{delFlag,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.sicmed.remote.web.entity.CaseConsultant">
        insert into case_consultant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="applyUserId != null">
                apply_user_id,
            </if>
            <if test="inviteUserId != null">
                invite_user_id,
            </if>
            <if test="consultantUserList != null">
                consultant_user_list,
            </if>
            <if test="consultantStartTime != null">
                consultant_start_time,
            </if>
            <if test="consultantEndTime != null">
                consultant_end_time,
            </if>
            <if test="consultantReport != null">
                consultant_report,
            </if>
            <if test="consultantFeedback != null">
                consultant_feedback,
            </if>
            <if test="consultantPrice != null">
                consultant_price,
            </if>
            <if test="hospitalPrice != null">
                hospital_price,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="applyUserId != null">
                #{applyUserId,jdbcType=VARCHAR},
            </if>
            <if test="inviteUserId != null">
                #{inviteUserId,jdbcType=VARCHAR},
            </if>
            <if test="consultantUserList != null">
                #{consultantUserList,jdbcType=VARCHAR},
            </if>
            <if test="consultantStartTime != null">
                #{consultantStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="consultantEndTime != null">
                #{consultantEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="consultantReport != null">
                #{consultantReport,jdbcType=VARCHAR},
            </if>
            <if test="consultantFeedback != null">
                #{consultantFeedback,jdbcType=VARCHAR},
            </if>
            <if test="consultantPrice != null">
                #{consultantPrice,jdbcType=DECIMAL},
            </if>
            <if test="hospitalPrice != null">
                #{hospitalPrice,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateInviteDoctorByPrimaryKeySelective" parameterType="com.sicmed.remote.web.entity.CaseConsultant">
        update case_consultant
        <set>
            invite_user_id = #{inviteUserId,jdbcType=VARCHAR},
            consultant_user_list = #{consultantUserList,jdbcType=VARCHAR},
            consultant_report = #{consultantReport,jdbcType=VARCHAR},
            consultant_price = #{consultantPrice,jdbcType=DECIMAL},
            <if test="hospitalPrice != null">
                hospital_price = #{hospitalPrice,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.remote.web.entity.CaseConsultant">
        update case_consultant
        <set>
            <if test="applyUserId != null">
                apply_user_id = #{applyUserId,jdbcType=VARCHAR},
            </if>
            <if test="inviteUserId != null">
                invite_user_id = #{inviteUserId,jdbcType=VARCHAR},
            </if>
            <if test="consultantUserList != null">
                consultant_user_list = #{consultantUserList,jdbcType=VARCHAR},
            </if>
            <if test="consultantStartTime != null">
                consultant_start_time = #{consultantStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="consultantEndTime != null">
                consultant_end_time = #{consultantEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="consultantReport != null">
                consultant_report = #{consultantReport,jdbcType=VARCHAR},
            </if>
            <if test="consultantFeedback != null">
                consultant_feedback = #{consultantFeedback,jdbcType=VARCHAR},
            </if>
            <if test="consultantPrice != null">
                consultant_price = #{consultantPrice,jdbcType=DECIMAL},
            </if>
            <if test="hospitalPrice != null">
                hospital_price = #{hospitalPrice,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            update_time = now(),
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sicmed.remote.web.entity.CaseConsultant">
    update case_consultant
    set apply_user_id = #{applyUserId,jdbcType=VARCHAR},
      invite_user_id = #{inviteUserId,jdbcType=VARCHAR},
      consultant_user_list = #{consultantUserList,jdbcType=VARCHAR},
      consultant_start_time = #{consultantStartTime,jdbcType=TIMESTAMP},
      consultant_end_time = #{consultantEndTime,jdbcType=TIMESTAMP},
      consultant_report = #{consultantReport,jdbcType=VARCHAR},
      consultant_feedback = #{consultantFeedback,jdbcType=VARCHAR},
      consultant_price = #{consultantPrice,jdbcType=DECIMAL},
      hospital_price = #{hospitalPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <!--辅助会诊医生相关查询-->
    <resultMap id="BeanFormResultMap" type="com.sicmed.remote.web.entity.ApplyForm">
        <id column="afId" jdbcType="VARCHAR" property="id"/>
        <result column="afCaseRecordId" jdbcType="VARCHAR" property="caseRecordId"/>
        <result column="afCaseSummary" jdbcType="VARCHAR" property="caseSummary"/>
        <result column="afApplySummary" jdbcType="VARCHAR" property="applySummary"/>
        <result column="afInviteSummary" jdbcType="VARCHAR" property="inviteSummary"/>
        <result column="afConsultantApplyTime" jdbcType="TIMESTAMP" property="consultantApplyTime"/>
        <result column="afApplyStatus" jdbcType="VARCHAR" property="applyStatus"/>
        <result column="afApplyType" jdbcType="VARCHAR" property="applyType"/>
        <result column="afApplyRemark" jdbcType="VARCHAR" property="applyRemark"/>
        <result column="afApplyUrgent" jdbcType="VARCHAR" property="applyUrgent"/>
        <result column="afCreateTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="afUpdateTime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="selectAssist" parameterType="com.sicmed.remote.web.bean.ApplyFormBean" resultMap="BeanFormResultMap">
        select af.id afId,af.case_summary afCaseSummary, af.apply_summary afApplySummary, af.invite_summary
        afInviteSummary,
        af.consultant_apply_time afConsultantApplyTime,af.apply_status afApplyStatus,af.case_record_id afCaseRecordId,
        af.apply_type afApplyType, af.apply_remark afApplyRemark,af.apply_urgent afApplyUrgent,
        af.create_time afCreateTime,af.update_time afUpdateTime
        from case_consultant cc
        left join apply_form af on af.id = cc.id and af.del_flag = "0"
        <where>
            af.apply_type IN
            <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                #{item,jdbcType=VARCHAR}
            </foreach>
            AND af.apply_status IN
            <foreach collection="consultationStatusList" open="(" close=")" item="item" separator="," index="">
                #{item,jdbcType=VARCHAR}
            </foreach>
            and (cc.invite_user_id = #{inviteUserId,jdbcType=VARCHAR}
            or cc.consultant_user_list like CONCAT('%',#{inviteUserId},'%'))
        </where>
        order by af.apply_urgent desc ,af.update_time,af.create_time
        limit #{beginNo},#{pageSize}
    </select>

    <!--// 受邀会诊数目查询-->
    <select id="selectCount" parameterType="com.sicmed.remote.web.bean.ApplyFormBean" resultType="java.lang.Integer">
        select count(af.id)
        from case_consultant cc
        left join apply_form af on af.id = cc.id and af.del_flag = "0"
        <where>
            <if test="inviteHospitalId != null">
                af.invite_hospital_id = #{inviteHospitalId,jdbcType=VARCHAR}
            </if>
            AND af.apply_type IN
            <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                #{item,jdbcType=VARCHAR}
            </foreach>
            AND af.apply_status IN
            <foreach collection="consultationStatusList" open="(" close=")" item="item" separator="," index="">
                #{item,jdbcType=VARCHAR}
            </foreach>
            and (cc.invite_user_id = #{inviteUserId,jdbcType=VARCHAR}
            or cc.consultant_user_list like CONCAT('%',#{inviteUserId},'%'))
        </where>
    </select>

    <!--受邀会诊 医生 所有数目查询-->
    <resultMap id="ConsultationStatusBeanResultMap" type="com.sicmed.remote.web.bean.ConsultationStatusBean">
        <result column="cacs" jdbcType="VARCHAR" property="consultationApplyCreateSuccess"/>
        <result column="caa" jdbcType="VARCHAR" property="consultationApplyAccede"/>
        <result column="car" jdbcType="VARCHAR" property="consultationApplyReject"/>
        <result column="csa" jdbcType="VARCHAR" property="consultationSlaveAccede"/>
        <result column="csr" jdbcType="VARCHAR" property="consultationSlaveReject"/>
        <result column="cma" jdbcType="VARCHAR" property="consultationMasterAccede"/>
        <result column="cmr" jdbcType="VARCHAR" property="consultationMasterReject"/>
        <result column="cdrl" jdbcType="VARCHAR" property="consultationDoctorLocked"/>
        <result column="cdel" jdbcType="VARCHAR" property="consultationDatetimeLocked"/>
        <result column="cb" jdbcType="VARCHAR" property="consultationBegin"/>
        <result column="crs" jdbcType="VARCHAR" property="consultationReportSubmitted"/>
        <result column="cfs" jdbcType="VARCHAR" property="consultationFeedbackSubmitted"/>
        <result column="ce" jdbcType="VARCHAR" property="consultationEn"/>
    </resultMap>
    <select id="receiveSelectAllCount" parameterType="com.sicmed.remote.web.bean.ApplyFormBean"
            resultMap="ConsultationStatusBeanResultMap">
        select
        count(af.apply_status="CONSULTATION_APPLY_CREATE_SUCCESS" or NULL) cacs,
        (select count(*) from apply_form appf where appf.del_flag = "0" and
        appf.apply_status="CONSULTATION_APPLY_ACCEDE" and appf.apply_type in
        <foreach
                collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and appf.invite_branch_id = #{inviteBranchId}) caa,
        count(af.apply_status="CONSULTATION_APPLY_REJECT" or NULL) car,
        count(af.apply_status="CONSULTATION_SLAVE_ACCEDE" or NULL) csa,
        count(af.apply_status="CONSULTATION_SLAVE_REJECT" or NULL) csr,
        count(af.apply_status="CONSULTATION_MASTER_ACCEDE" or NULL) cma,
        count(af.apply_status="CONSULTATION_MASTER_REJECT" or NULL) cmr,
        count(af.apply_status="CONSULTATION_DOCTOR_LOCKED" or NULL) cdrl,
        count(af.apply_status="CONSULTATION_DATETIME_LOCKED" or NULL) cdel,
        count(af.apply_status="CONSULTATION_BEGIN" or NULL) cb,
        count(af.apply_status="CONSULTATION_REPORT_SUBMITTED" or NULL) crs,
        count(af.apply_status="CONSULTATION_FEEDBACK_SUBMITTED" or NULL) cfs,
        count(af.apply_status="CONSULTATION_END" or NULL) ce
        from case_consultant cc
        left join apply_form af on af.id = cc.id and af.del_flag = "0"
        <where>
            <if test="inviteHospitalId != null">
                af.invite_hospital_id = #{inviteHospitalId,jdbcType=VARCHAR}
            </if>
            AND af.apply_type IN
            <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                #{item,jdbcType=VARCHAR}
            </foreach>
            and (cc.invite_user_id = #{inviteUserId,jdbcType=VARCHAR}
            or cc.consultant_user_list like CONCAT('%',#{inviteUserId},'%'))
        </where>
    </select>

    <select id="receiveSelectAllCountSir" parameterType="com.sicmed.remote.web.bean.ApplyFormBean"
            resultMap="ConsultationStatusBeanResultMap">
        select
        count(af.apply_status="CONSULTATION_APPLY_CREATE_SUCCESS" or NULL) cacs,
        count(af.apply_status="CONSULTATION_APPLY_ACCEDE" or NULL) caa,
        count(af.apply_status="CONSULTATION_APPLY_REJECT" or NULL) car,
        count(af.apply_status="CONSULTATION_SLAVE_ACCEDE" or NULL) csa,
        count(af.apply_status="CONSULTATION_SLAVE_REJECT" or NULL) csr,
        count(af.apply_status="CONSULTATION_MASTER_ACCEDE" or NULL) cma,
        count(af.apply_status="CONSULTATION_MASTER_REJECT" or NULL) cmr,
        count(af.apply_status="CONSULTATION_DOCTOR_LOCKED" or NULL) cdrl,
        count(af.apply_status="CONSULTATION_DATETIME_LOCKED" or NULL) cdel,
        count(af.apply_status="CONSULTATION_BEGIN" or NULL) cb,
        count(af.apply_status="CONSULTATION_REPORT_SUBMITTED" or NULL) crs,
        count(af.apply_status="CONSULTATION_FEEDBACK_SUBMITTED" or NULL) cfs,
        count(af.apply_status="CONSULTATION_END" or NULL) ce
        from case_consultant cc
        left join apply_form af on af.id = cc.id and af.del_flag = "0"
        <where>
            <if test="inviteHospitalId != null">
                af.invite_hospital_id = #{inviteHospitalId,jdbcType=VARCHAR}
            </if>
            AND af.apply_type IN
            <foreach collection="consultationTypeList" open="(" close=")" item="item" separator="," index="">
                #{item,jdbcType=VARCHAR}
            </foreach>
        </where>
    </select>
</mapper>