<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.web.mapper.CaseContentTypeMapper">
    <resultMap id="BaseResultMap" type="com.sicmed.remote.web.entity.CaseContentType">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="case_type_name" jdbcType="VARCHAR" property="caseTypeName"/>
        <result column="case_number" jdbcType="VARCHAR" property="caseNumber"/>
        <result column="case_type_weight" jdbcType="INTEGER" property="caseTypeWeight"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, parent_id, case_type_name, case_number, case_type_weight, create_time, create_user, 
    update_time, update_user, delete_time, delete_user, del_flag
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from case_content_type
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!--查询所有CaseContentTypeBean-->
    <resultMap id="BeanAllResultMap" type="com.sicmed.remote.web.bean.CaseContentTypeBean">
        <id column="parentId" jdbcType="VARCHAR" property="id"/>
        <result column="parentCaseTypeName" jdbcType="VARCHAR" property="caseTypeName"/>
        <collection property="childList" ofType="com.sicmed.remote.web.entity.CaseContentType" javaType="ArrayList">
            <id column="childId" jdbcType="VARCHAR" property="id"/>
            <result column="childCaseTypeName" jdbcType="VARCHAR" property="caseTypeName"/>
        </collection>
    </resultMap>
    <sql id="Bean_Column_List_All">
        parent.id parentId,parent.case_type_name parentCaseTypeName,
        child.id childId,child.case_type_name childCaseTypeName
    </sql>
    <sql id="Bean_Left_Join_All">
        LEFT JOIN case_content_type child ON child.parent_id = parent.id
    </sql>
    <select id="selectAll" parameterType="com.sicmed.remote.web.entity.CaseContentType"
            resultMap="BeanAllResultMap">
        select
        <include refid="Bean_Column_List_All"/>from case_content_type parent
        <include refid="Bean_Left_Join_All"/>
        <where>
            parent.del_flag = "0"
            AND parent.parent_id is null
        </where>
    </select>

    <!--软删除-->
    <update id="deleteByPrimaryKey" parameterType="java.lang.String">
        update case_content_type
        <set>
            del_flag="1"
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--动态sql-->
    <select id="findByDynamicParam" parameterType="com.sicmed.remote.web.entity.CaseContentType"
            resultMap="BaseResultMap">
        select * from case_content_type
        <where>
            del_flag = "0"
            <if test="parentId != null">
                AND parent_id = #{parentId,jdbcType=VARCHAR}
            </if>
            <if test="caseTypeName != null">
                AND case_type_name = #{caseTypeName,jdbcType=VARCHAR}
            </if>
            <if test="caseNumber != null">
                AND case_number = #{caseNumber,jdbcType=VARCHAR}
            </if>
            <if test="caseTypeWeight != null">
                AND case_type_weight = #{caseTypeWeight,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--动态分层查询-->
    <resultMap id="BeanResultMap" type="com.sicmed.remote.web.bean.CaseContentTypeBean">
        <id column="parentId" jdbcType="VARCHAR" property="id"/>
        <result column="parentCaseTypeName" jdbcType="VARCHAR" property="caseTypeName"/>
        <result column="parentCaseNumber" jdbcType="VARCHAR" property="caseNumber"/>
        <result column="parentCaseTypeWeight" jdbcType="INTEGER" property="caseTypeWeight"/>
        <collection property="childList" ofType="com.sicmed.remote.web.entity.CaseContentType" javaType="ArrayList">
            <id column="childId" jdbcType="VARCHAR" property="id"/>
            <result column="childCaseTypeName" jdbcType="VARCHAR" property="caseTypeName"/>
            <result column="childCaseNumber" jdbcType="VARCHAR" property="caseNumber"/>
            <result column="childCaseTypeWeight" jdbcType="INTEGER" property="caseTypeWeight"/>
        </collection>
    </resultMap>
    <sql id="Bean_Column_List">
        parent.id parentId,parent.case_type_name parentCaseTypeName,parent.case_number parentCaseNumber,
        parent.case_type_weight parentCaseTypeWeight ,
        child.id childId,child.case_type_name childCaseTypeName,child.case_number childCaseNumber,
        child.case_type_weight childCaseTypeWeight
    </sql>
    <sql id="Bean_Left_Join">
        LEFT JOIN case_content_type child ON child.parent_id = parent.id
    </sql>
    <select id="selectMultilevel" parameterType="com.sicmed.remote.web.entity.CaseContentType"
            resultMap="BeanResultMap">
        select
        <include refid="Bean_Column_List"/>from case_content_type parent
        <include refid="Bean_Left_Join"/>
        <where>
            parent.del_flag = "0"
            AND parent.parent_id is null
            <if test="caseTypeName != null">
                AND parent.case_type_name = #{caseTypeName,jdbcType=VARCHAR}
            </if>
            <if test="caseNumber != null">
                AND parent.case_number = #{caseNumber,jdbcType=VARCHAR}
            </if>
        </where>
        <!--        <if test="pageSize &gt;0 and beginNo &gt; -1">
                    limit #{beginNo},#{pageSize}
                </if>-->
    </select>

    <insert id="insert" parameterType="com.sicmed.remote.web.entity.CaseContentType">
    insert into case_content_type (id, parent_id, case_type_name, 
      case_number, case_type_weight, create_time, 
      create_user, update_time, update_user, 
      delete_time, delete_user, del_flag
      )
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{caseTypeName,jdbcType=VARCHAR}, 
      #{caseNumber,jdbcType=VARCHAR}, #{caseTypeWeight,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{deleteUser,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.sicmed.remote.web.entity.CaseContentType">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into case_content_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="caseTypeName != null">
                case_type_name,
            </if>
            <if test="caseNumber != null">
                case_number,
            </if>
            <if test="caseTypeWeight != null">
                case_type_weight,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="caseTypeName != null">
                #{caseTypeName,jdbcType=VARCHAR},
            </if>
            <if test="caseNumber != null">
                #{caseNumber,jdbcType=VARCHAR},
            </if>
            <if test="caseTypeWeight != null">
                #{caseTypeWeight,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.remote.web.entity.CaseContentType">
        update case_content_type
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="caseTypeName != null">
                case_type_name = #{caseTypeName,jdbcType=VARCHAR},
            </if>
            <if test="caseNumber != null">
                case_number = #{caseNumber,jdbcType=VARCHAR},
            </if>
            <if test="caseTypeWeight != null">
                case_type_weight = #{caseTypeWeight,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sicmed.remote.web.entity.CaseContentType">
    update case_content_type
    set parent_id = #{parentId,jdbcType=VARCHAR},
      case_type_name = #{caseTypeName,jdbcType=VARCHAR},
      case_number = #{caseNumber,jdbcType=VARCHAR},
      case_type_weight = #{caseTypeWeight,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>