<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.web.mapper.CasePatientMapper">
    <resultMap id="BaseResultMap" type="com.sicmed.remote.web.entity.CasePatient">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="patient_number" jdbcType="VARCHAR" property="patientNumber"/>
        <result column="patient_name" jdbcType="VARCHAR" property="patientName"/>
        <result column="patient_card" jdbcType="VARCHAR" property="patientCard"/>
        <result column="patient_phone" jdbcType="VARCHAR" property="patientPhone"/>
        <result column="patient_birthday" jdbcType="VARCHAR" property="patientBirthday"/>
        <result column="patient_age" jdbcType="INTEGER" property="patientAge"/>
        <result column="patient_sex" jdbcType="CHAR" property="patientSex"/>
        <result column="patient_height" jdbcType="INTEGER" property="patientHeight"/>
        <result column="patient_weight" jdbcType="INTEGER" property="patientWeight"/>
        <result column="city_id" jdbcType="VARCHAR" property="cityId"/>
        <result column="detail_address" jdbcType="VARCHAR" property="detailAddress"/>
        <result column="education_id" jdbcType="VARCHAR" property="educationId"/>
        <result column="profession_id" jdbcType="VARCHAR" property="professionId"/>
        <result column="nation_id" jdbcType="VARCHAR" property="nationId"/>
        <result column="blood_group_id" jdbcType="VARCHAR" property="bloodGroupId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, patient_number, patient_name, patient_card, patient_phone, patient_birthday, 
    patient_age, patient_sex, patient_height, patient_weight, city_id, detail_address, 
    education_id, profession_id, nation_id, blood_group_id, create_time, create_user, 
    update_time, update_user, delete_time, delete_user, del_flag
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from case_patient
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from case_patient
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.sicmed.remote.web.entity.CasePatient">
    insert into case_patient (id, patient_number, patient_name, 
      patient_card, patient_phone, patient_birthday, 
      patient_age, patient_sex, patient_height, 
      patient_weight, city_id, detail_address, 
      education_id, profession_id, nation_id, 
      blood_group_id, create_time, create_user, 
      update_time, update_user, delete_time, 
      delete_user, del_flag)
    values (#{id,jdbcType=VARCHAR}, #{patientNumber,jdbcType=VARCHAR}, #{patientName,jdbcType=VARCHAR}, 
      #{patientCard,jdbcType=VARCHAR}, #{patientPhone,jdbcType=VARCHAR}, #{patientBirthday,jdbcType=VARCHAR}, 
      #{patientAge,jdbcType=INTEGER}, #{patientSex,jdbcType=CHAR}, #{patientHeight,jdbcType=INTEGER},
      #{patientWeight,jdbcType=INTEGER}, #{cityId,jdbcType=VARCHAR}, #{detailAddress,jdbcType=VARCHAR},
      #{educationId,jdbcType=VARCHAR}, #{professionId,jdbcType=VARCHAR}, #{nationId,jdbcType=VARCHAR}, 
      #{bloodGroupId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{deleteUser,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.sicmed.remote.web.entity.CasePatient">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into case_patient
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="patientNumber != null">
                patient_number,
            </if>
            <if test="patientName != null">
                patient_name,
            </if>
            <if test="patientCard != null">
                patient_card,
            </if>
            <if test="patientPhone != null">
                patient_phone,
            </if>
            <if test="patientBirthday != null">
                patient_birthday,
            </if>
            <if test="patientAge != null">
                patient_age,
            </if>
            <if test="patientSex != null">
                patient_sex,
            </if>
            <if test="patientHeight != null">
                patient_height,
            </if>
            <if test="patientWeight != null">
                patient_weight,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="detailAddress != null">
                detail_address,
            </if>
            <if test="educationId != null">
                education_id,
            </if>
            <if test="professionId != null">
                profession_id,
            </if>
            <if test="nationId != null">
                nation_id,
            </if>
            <if test="bloodGroupId != null">
                blood_group_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="patientNumber != null">
                #{patientNumber,jdbcType=VARCHAR},
            </if>
            <if test="patientName != null">
                #{patientName,jdbcType=VARCHAR},
            </if>
            <if test="patientCard != null">
                #{patientCard,jdbcType=VARCHAR},
            </if>
            <if test="patientPhone != null">
                #{patientPhone,jdbcType=VARCHAR},
            </if>
            <if test="patientBirthday != null">
                #{patientBirthday,jdbcType=VARCHAR},
            </if>
            <if test="patientAge != null">
                #{patientAge,jdbcType=INTEGER},
            </if>
            <if test="patientSex != null">
                #{patientSex,jdbcType=CHAR},
            </if>
            <if test="patientHeight != null">
                #{patientHeight,jdbcType=INTEGER},
            </if>
            <if test="patientWeight != null">
                #{patientWeight,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
                #{detailAddress,jdbcType=VARCHAR},
            </if>
            <if test="educationId != null">
                #{educationId,jdbcType=VARCHAR},
            </if>
            <if test="professionId != null">
                #{professionId,jdbcType=VARCHAR},
            </if>
            <if test="nationId != null">
                #{nationId,jdbcType=VARCHAR},
            </if>
            <if test="bloodGroupId != null">
                #{bloodGroupId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.remote.web.entity.CasePatient">
        update case_patient
        <set>
            <if test="patientNumber != null">
                patient_number = #{patientNumber,jdbcType=VARCHAR},
            </if>
            <if test="patientName != null">
                patient_name = #{patientName,jdbcType=VARCHAR},
            </if>
            <if test="patientCard != null">
                patient_card = #{patientCard,jdbcType=VARCHAR},
            </if>
            <if test="patientPhone != null">
                patient_phone = #{patientPhone,jdbcType=VARCHAR},
            </if>
            <if test="patientBirthday != null">
                patient_birthday = #{patientBirthday,jdbcType=VARCHAR},
            </if>
            <if test="patientAge != null">
                patient_age = #{patientAge,jdbcType=INTEGER},
            </if>
            <if test="patientSex != null">
                patient_sex = #{patientSex,jdbcType=CHAR},
            </if>
            <if test="patientHeight != null">
                patient_height = #{patientHeight,jdbcType=INTEGER},
            </if>
            <if test="patientWeight != null">
                patient_weight = #{patientWeight,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
                detail_address = #{detailAddress,jdbcType=VARCHAR},
            </if>
            <if test="educationId != null">
                education_id = #{educationId,jdbcType=VARCHAR},
            </if>
            <if test="professionId != null">
                profession_id = #{professionId,jdbcType=VARCHAR},
            </if>
            <if test="nationId != null">
                nation_id = #{nationId,jdbcType=VARCHAR},
            </if>
            <if test="bloodGroupId != null">
                blood_group_id = #{bloodGroupId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            update_time = now(),
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sicmed.remote.web.entity.CasePatient">
    update case_patient
    set patient_number = #{patientNumber,jdbcType=VARCHAR},
      patient_name = #{patientName,jdbcType=VARCHAR},
      patient_card = #{patientCard,jdbcType=VARCHAR},
      patient_phone = #{patientPhone,jdbcType=VARCHAR},
      patient_birthday = #{patientBirthday,jdbcType=VARCHAR},
      patient_age = #{patientAge,jdbcType=INTEGER},
      patient_sex = #{patientSex,jdbcType=CHAR},
      patient_height = #{patientHeight,jdbcType=INTEGER},
      patient_weight = #{patientWeight,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      education_id = #{educationId,jdbcType=VARCHAR},
      profession_id = #{professionId,jdbcType=VARCHAR},
      nation_id = #{nationId,jdbcType=VARCHAR},
      blood_group_id = #{bloodGroupId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>