<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.web.mapper.CaseRecordMapper">
    <resultMap id="BaseResultMap" type="com.sicmed.remote.web.entity.CaseRecord">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="case_number" jdbcType="VARCHAR" property="caseNumber"/>
        <result column="patient_id" jdbcType="VARCHAR" property="patientId"/>
        <result column="main_suit" jdbcType="VARCHAR" property="mainSuit"/>
        <result column="past_medical_history" jdbcType="VARCHAR" property="pastMedicalHistory"/>
        <result column="existing_medical_history" jdbcType="VARCHAR" property="existingMedicalHistory"/>
        <result column="allergic_history" jdbcType="VARCHAR" property="allergicHistory"/>
        <result column="case_diagnosis" jdbcType="VARCHAR" property="caseDiagnosis"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
        <result column="patient_age" jdbcType="VARCHAR" property="patientAge"/>
        <result column="patient_sex" jdbcType="CHAR" property="patientSex"/>
        <result column="patient_height" jdbcType="INTEGER" property="patientHeight"/>
        <result column="patient_weight" jdbcType="INTEGER" property="patientWeight"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, case_number, patient_id, main_suit, past_medical_history, existing_medical_history, 
    allergic_history, case_diagnosis, create_time, create_user, update_time, update_user, 
    delete_time, delete_user, del_flag,patient_age, patient_sex, patient_height, patient_weight
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from case_record
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!--动态查询-->
    <select id="findByDynamicParam" parameterType="com.sicmed.remote.web.entity.CaseRecord"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from case_record
        where
        <if test="id !=null">
            id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="caseNumber != null">
            and case_number = #{caseNumber,jdbcType=VARCHAR}
        </if>
        <if test="patientId != null">
            and patient_id = #{patientId,jdbcType=VARCHAR}
        </if>
        <if test="mainSuit != null">
            and  main_suit = #{mainSuit,jdbcType=VARCHAR}
        </if>
        <if test="pastMedicalHistory != null">
            and  past_medical_history = #{pastMedicalHistory,jdbcType=VARCHAR}
        </if>
        <if test="existingMedicalHistory != null">
            and  existing_medical_history = #{existingMedicalHistory,jdbcType=VARCHAR}
        </if>
        <if test="allergicHistory != null">
            and allergic_history = #{allergicHistory,jdbcType=VARCHAR}
        </if>
        <if test="caseDiagnosis != null">
            and case_diagnosis = #{caseDiagnosis,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createUser != null">
            and create_user = #{createUser,jdbcType=VARCHAR}
        </if>
        <if test="updateUser != null">
            and update_user = #{updateUser,jdbcType=VARCHAR}
        </if>
        <if test="deleteTime != null">
            and delete_time = #{deleteTime,jdbcType=TIMESTAMP}
        </if>
        <if test="deleteUser != null">
            and delete_user = #{deleteUser,jdbcType=VARCHAR}
        </if>
        <if test="patientAge != null">
            and patient_age = #{patientAge,jdbcType=VARCHAR}
        </if>
        <if test="patientSex != null">
            and patient_sex = #{patientSex,jdbcType=CHAR}
        </if>
        <if test="patientHeight != null">
            and patient_height = #{patientHeight,jdbcType=INTEGER}
        </if>
        <if test="patientWeight != null">
            and patient_weight = #{patientWeight,jdbcType=INTEGER}
        </if>
        and del_flag = "0"
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from case_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.sicmed.remote.web.entity.CaseRecord">
    insert into case_record (id, case_number, patient_id, 
      main_suit, past_medical_history, existing_medical_history, 
      allergic_history, case_diagnosis, create_time, 
      create_user, update_time, update_user, 
      delete_time, delete_user, del_flag,patient_age, patient_sex, patient_height, patient_weight
      )
    values (#{id,jdbcType=VARCHAR}, #{caseNumber,jdbcType=VARCHAR}, #{patientId,jdbcType=VARCHAR}, 
      #{mainSuit,jdbcType=VARCHAR}, #{pastMedicalHistory,jdbcType=VARCHAR}, #{existingMedicalHistory,jdbcType=VARCHAR}, 
      #{allergicHistory,jdbcType=VARCHAR}, #{caseDiagnosis,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{deleteUser,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR},
      #{patientAge,jdbcType=VARCHAR}, #{patientSex,jdbcType=CHAR}, #{patientHeight,jdbcType=INTEGER},
      #{patientWeight,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.sicmed.remote.web.entity.CaseRecord">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into case_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="caseNumber != null">
                case_number,
            </if>
            <if test="patientId != null">
                patient_id,
            </if>
            <if test="mainSuit != null">
                main_suit,
            </if>
            <if test="pastMedicalHistory != null">
                past_medical_history,
            </if>
            <if test="existingMedicalHistory != null">
                existing_medical_history,
            </if>
            <if test="allergicHistory != null">
                allergic_history,
            </if>
            <if test="caseDiagnosis != null">
                case_diagnosis,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="patientAge != null">
                patient_age,
            </if>
            <if test="patientSex != null">
                patient_sex,
            </if>
            <if test="patientHeight != null">
                patient_height,
            </if>
            <if test="patientWeight != null">
                patient_weight,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="caseNumber != null">
                #{caseNumber,jdbcType=VARCHAR},
            </if>
            <if test="patientId != null">
                #{patientId,jdbcType=VARCHAR},
            </if>
            <if test="mainSuit != null">
                #{mainSuit,jdbcType=VARCHAR},
            </if>
            <if test="pastMedicalHistory != null">
                #{pastMedicalHistory,jdbcType=VARCHAR},
            </if>
            <if test="existingMedicalHistory != null">
                #{existingMedicalHistory,jdbcType=VARCHAR},
            </if>
            <if test="allergicHistory != null">
                #{allergicHistory,jdbcType=VARCHAR},
            </if>
            <if test="caseDiagnosis != null">
                #{caseDiagnosis,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="patientAge != null">
                #{patientAge,jdbcType=VARCHAR},
            </if>
            <if test="patientSex != null">
                #{patientSex,jdbcType=CHAR},
            </if>
            <if test="patientHeight != null">
                #{patientHeight,jdbcType=INTEGER},
            </if>
            <if test="patientWeight != null">
                #{patientWeight,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.remote.web.entity.CaseRecord">
        update case_record
        <set>
            <if test="caseNumber != null">
                case_number = #{caseNumber,jdbcType=VARCHAR},
            </if>
            <if test="patientId != null">
                patient_id = #{patientId,jdbcType=VARCHAR},
            </if>
            <if test="mainSuit != null">
                main_suit = #{mainSuit,jdbcType=VARCHAR},
            </if>
            <if test="pastMedicalHistory != null">
                past_medical_history = #{pastMedicalHistory,jdbcType=VARCHAR},
            </if>
            <if test="existingMedicalHistory != null">
                existing_medical_history = #{existingMedicalHistory,jdbcType=VARCHAR},
            </if>
            <if test="allergicHistory != null">
                allergic_history = #{allergicHistory,jdbcType=VARCHAR},
            </if>
            <if test="caseDiagnosis != null">
                case_diagnosis = #{caseDiagnosis,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>

            update_time = now(),

            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
            <if test="patientAge != null">
                patient_age = #{patientAge,jdbcType=VARCHAR},
            </if>
            <if test="patientSex != null">
                patient_sex = #{patientSex,jdbcType=CHAR},
            </if>
            <if test="patientHeight != null">
                patient_height = #{patientHeight,jdbcType=INTEGER},
            </if>
            <if test="patientWeight != null">
                patient_weight = #{patientWeight,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sicmed.remote.web.entity.CaseRecord">
    update case_record
    set case_number = #{caseNumber,jdbcType=VARCHAR},
      patient_id = #{patientId,jdbcType=VARCHAR},
      main_suit = #{mainSuit,jdbcType=VARCHAR},
      past_medical_history = #{pastMedicalHistory,jdbcType=VARCHAR},
      existing_medical_history = #{existingMedicalHistory,jdbcType=VARCHAR},
      allergic_history = #{allergicHistory,jdbcType=VARCHAR},
      case_diagnosis = #{caseDiagnosis,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      patient_age = #{patientAge,jdbcType=VARCHAR},
      patient_sex = #{patientSex,jdbcType=CHAR},
      patient_height = #{patientHeight,jdbcType=INTEGER},
      patient_weight = #{patientWeight,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>