<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.web.mapper.ConsultationPriceRecordMapper">
    <resultMap id="BaseResultMap" type="com.sicmed.remote.web.entity.ConsultationPriceRecord">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="consultation_id" jdbcType="VARCHAR" property="consultationId"/>
        <result column="apply_hospital_id" jdbcType="VARCHAR" property="applyHospitalId"/>
        <result column="apply_branch_id" jdbcType="VARCHAR" property="applyBranchId"/>
        <result column="apply_user_id" jdbcType="VARCHAR" property="applyUserId"/>
        <result column="invite_hospital_id" jdbcType="VARCHAR" property="inviteHospitalId"/>
        <result column="invite_branch_id" jdbcType="VARCHAR" property="inviteBranchId"/>
        <result column="invite_user_id" jdbcType="VARCHAR" property="inviteUserId"/>
        <result column="invite_user_price" jdbcType="DECIMAL" property="inviteUserPrice"/>
        <result column="invite_hospital_price" jdbcType="DECIMAL" property="inviteHospitalPrice"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="consultation_type" jdbcType="VARCHAR" property="consultationType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
    </resultMap>

    <insert id="insertList" parameterType="java.util.ArrayList">
        insert into consultation_price_record (id, consultation_id, apply_hospital_id,
        apply_branch_id, apply_user_id, invite_hospital_id,
        invite_branch_id, invite_user_id, invite_user_price,
        invite_hospital_price, total_price, consultation_type )
        values
        <foreach collection="list" index="" item="item" separator=",">
            ((select replace(uuid(), '-', '') as id from dual),
            #{item.consultationId,jdbcType=VARCHAR},
            #{item.applyHospitalId,jdbcType=VARCHAR},
            #{item.applyBranchId,jdbcType=VARCHAR},
            #{item.applyUserId,jdbcType=VARCHAR},
            #{item.inviteHospitalId,jdbcType=VARCHAR},
            #{item.inviteBranchId,jdbcType=VARCHAR},
            #{item.inviteUserId,jdbcType=VARCHAR},
            #{item.inviteUserPrice,jdbcType=DECIMAL},
            #{item.inviteHospitalPrice,jdbcType=DECIMAL},
            #{item.totalPrice,jdbcType=DECIMAL},
            #{item.consultationType,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <resultMap id="StatisticsSearchBeanResultMap" type="com.sicmed.remote.web.bean.StatisticsSearchBean">
        <result column="applyHospital" jdbcType="VARCHAR" property="applyHospital"/>
        <result column="inviteHospital" jdbcType="VARCHAR" property="inviteHospital"/>
        <result column="applyBranch" jdbcType="VARCHAR" property="applyBranch"/>
        <result column="inviteBranch" jdbcType="VARCHAR" property="inviteBranch"/>
        <result column="applyName" jdbcType="VARCHAR" property="applyDoctorName"/>
        <result column="inviteName" jdbcType="VARCHAR" property="inviteDoctorName"/>
        <result column="afNumber" jdbcType="VARCHAR" property="amountStatistics"/>
        <result column="price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="otherPrice" jdbcType="DECIMAL" property="otherPrice"/>
    </resultMap>
    <!--会诊费用统计,发出列表-->
    <select id="consultationPriceApplyStatistics" parameterType="com.sicmed.remote.web.entity.ConsultationPriceRecord"
            resultMap="StatisticsSearchBeanResultMap">
        select count(cpr.id) afNumber,
        applybh.hospital_name applyHospital,invitebh.hospital_name inviteHospital,
        applyb.custom_name applyBranch,inviteb.custom_name inviteBranch,
        applyud.user_name applyName,inviteud.user_name inviteName,
        sum(cpr.total_price) price,sum(cpr.invite_user_price) otherPrice
        from consultation_price_record cpr
        left join apply_form af on af.id = cpr.consultation_id
        left join base_hospital applybh on cpr.apply_hospital_id = applybh.id
        left join base_hospital invitebh on cpr.invite_hospital_id = invitebh.id
        left join custom_branch applyb on cpr.apply_branch_id = applyb.id
        left join custom_branch inviteb on cpr.invite_branch_id = inviteb.id
        left join user_detail applyud on cpr.apply_user_id = applyud.id
        left join user_detail inviteud on cpr.invite_user_price = inviteud.id
        where cpr.del_flag = '0'
        and af.apply_status = #{status}
        and #{startTime}&lt;af.consultant_apply_time &lt;#{endTime}
        and af.apply_hospital_id = #{hospitalId}
        group by
        <if test="applyHospital != null">
            cpr.apply_hospital_id
        </if>
        <if test="applyBranch != null">
            cpr.apply_branch_id
        </if>
        <if test="applyDoctorName != null">
            cpr.apply_user_id
        </if>
        <if test="inviteHospital != null">
            cpr.invite_hospital_id
        </if>
        <if test="inviteBranch != null">
            cpr.invite_branch_id
        </if>
        <if test="inviteDoctorName != null">
            cpr.invite_user_id
        </if>
    </select>
    <!--会诊费用统计,受邀列表-->
    <select id="consultationPriceInviteStatistics" parameterType="com.sicmed.remote.web.entity.ConsultationPriceRecord"
            resultMap="StatisticsSearchBeanResultMap">
        select count(cpr.id) afNumber,
        applybh.hospital_name applyHospital,invitebh.hospital_name inviteHospital,
        applyb.custom_name applyBranch,inviteb.custom_name inviteBranch,
        applyud.user_name applyName,inviteud.user_name inviteName,
        sum(cpr.total_price) price,sum(cpr.invite_user_price) otherPrice
        from consultation_price_record cpr
        left join apply_form af on af.id = cpr.consultation_id
        left join base_hospital applybh on cpr.apply_hospital_id = applybh.id
        left join base_hospital invitebh on cpr.invite_hospital_id = invitebh.id
        left join custom_branch applyb on cpr.apply_branch_id = applyb.id
        left join custom_branch inviteb on cpr.invite_branch_id = inviteb.id
        left join user_detail applyud on cpr.apply_user_id = applyud.id
        left join user_detail inviteud on cpr.invite_user_price = inviteud.id
        where cpr.del_flag = '0'
        and af.apply_status = #{status}
        and #{startTime}&lt;af.consultant_apply_time &lt;#{endTime}
        and af.invite_hospital_id = #{hospitalId}
        group by
        <if test="applyHospital != null">
            cpr.apply_hospital_id
        </if>
        <if test="applyBranch != null">
            cpr.apply_branch_id
        </if>
        <if test="applyDoctorName != null">
            cpr.apply_user_id
        </if>
        <if test="inviteHospital != null">
            cpr.invite_hospital_id
        </if>
        <if test="inviteBranch != null">
            cpr.invite_branch_id
        </if>
        <if test="inviteDoctorName != null">
            cpr.invite_user_id
        </if>
    </select>

    <resultMap id="ConsultationPriceStatisticsBeanResultMap"
               type="com.sicmed.remote.web.bean.ConsultationPriceStatisticsBean">
        <result column="applyHospitalName" jdbcType="VARCHAR" property="applyHospitalName"/>
        <result column="applyCustomBranchName" jdbcType="VARCHAR" property="applyCustomBranchName"/>
        <result column="applyUserName" jdbcType="VARCHAR" property="applyUserName"/>
        <result column="inviteHospitalName" jdbcType="VARCHAR" property="inviteHospitalName"/>
        <result column="inviteCustomBranchNam" jdbcType="VARCHAR" property="inviteCustomBranchNam"/>
        <result column="inviteUserName" jdbcType="VARCHAR" property="inviteUserName"/>
        <result column="sumPrice" jdbcType="VARCHAR" property="sumPrice"/>
    </resultMap>
    <select id="getConsultationPriceStatisticsListByParam"
            parameterType="com.sicmed.remote.web.bean.ConsultationPriceStatisticsParamBean"
            resultMap="ConsultationPriceStatisticsBeanResultMap">
        SELECT
        applyHospital.hospital_name applyHospitalName,
        applyCustomBranch.custom_name applyCustomBranchName,
        applyUserDetail.user_name applyUserName,
        inviteHospital.hospital_name inviteHospitalName,
        inviteCustomBranch.custom_name inviteCustomBranchName,
        inviteUserDetail.user_name inviteUserName,
        <if test="sumByUserPrice != null">
            sum(conPriceRecord.invite_user_price) AS sumPrice
        </if>
        <if test="sumByTotalPrice != null">
            sum(conPriceRecord.total_price) AS sumPrice
        </if>
        FROM
        <if test="sumByUserPrice != null">
            consultation_price_record conPriceRecord
        </if>
        <if test="sumByTotalPrice != null">
            (SELECT * FROM consultation_price_record
            GROUP BY
            <if test="groupByApplyHospital != null">
                apply_hospital_id,
            </if>
            <if test="groupByApplyBranch != null">
                apply_branch_id,
            </if>
            <if test="groupByApplyUser != null">
                apply_user_id,
            </if>
            <if test="groupByInviteHospital != null">
                invite_hospital_id,
            </if>
            consultation_id
            ) as conPriceRecord
        </if>
        LEFT JOIN base_hospital applyHospital ON applyHospital.id = conPriceRecord.apply_hospital_id
        LEFT JOIN base_hospital inviteHospital ON inviteHospital.id = conPriceRecord.invite_hospital_id
        LEFT JOIN custom_branch applyCustomBranch ON applyCustomBranch.id = conPriceRecord.apply_branch_id
        LEFT JOIN custom_branch inviteCustomBranch ON inviteCustomBranch.id = conPriceRecord.invite_branch_id
        LEFT JOIN user_detail applyUserDetail ON applyUserDetail.id = conPriceRecord.apply_user_id
        LEFT JOIN user_detail inviteUserDetail ON inviteUserDetail.id = conPriceRecord.invite_user_id
        WHERE
        #{startTime}&lt;conPriceRecord.create_time &lt;#{endTime}
        <if test="isApply != null">
            AND conPriceRecord.apply_hospital_id = #{hospitalId}
        </if>
        <if test="isInvite != null">
            AND conPriceRecord.invite_hospital_id = #{hospitalId}
        </if>
        GROUP BY
        <if test="sumByUserPrice != null">
            <if test="groupByInviteBranch != null">
                conPriceRecord.invite_branch_id
            </if>
            <if test="groupByInviteUser != null">
                conPriceRecord.invite_user_id
            </if>
        </if>
        <if test="sumByTotalPrice != null">
            <if test="groupByApplyHospital != null">
                conPriceRecord.apply_hospital_id
            </if>
            <if test="groupByApplyBranch != null">
                conPriceRecord.apply_branch_id
            </if>
            <if test="groupByApplyUser != null">
                conPriceRecord.apply_user_id
            </if>
            <if test="groupByInviteHospital != null">
                conPriceRecord.invite_hospital_id
            </if>
        </if>
    </select>
</mapper>