<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.web.mapper.CustomBranchMapper">
    <resultMap id="BaseResultMap" type="com.sicmed.remote.web.entity.CustomBranch">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="hospital_id" jdbcType="VARCHAR" property="hospitalId"/>
        <result column="branch_id" jdbcType="VARCHAR" property="branchId"/>
        <result column="custom_name" jdbcType="VARCHAR" property="customName"/>
        <result column="branch_number" jdbcType="VARCHAR" property="branchNumber"/>
        <result column="branch_grade" jdbcType="VARCHAR" property="branchGrade"/>
        <result column="branch_inform" jdbcType="VARCHAR" property="branchInform"/>
        <result column="branch_weight" jdbcType="INTEGER" property="branchWeight"/>
        <result column="order_weight" jdbcType="VARCHAR" property="orderWeight"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,hospital_id, branch_id, custom_name, branch_number, branch_grade, branch_inform, branch_weight,
        order_weight, create_user, create_time, update_user, update_time, delete_user, delete_time,
        del_flag
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from custom_branch
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <update id="deleteByPrimaryKey" parameterType="java.lang.String">
        update custom_branch
        set del_flag = "1"
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <insert id="insertCustomBranchList">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into custom_branch (id,hospital_id, branch_id, custom_name) values
        <foreach collection="addCustomBranchBeanList" item="item" separator="," index="key">
            ((select replace(uuid(), '-', '') as id from dual),
            #{item.hospitalId,jdbcType=VARCHAR},
            #{item.baseBranchId,jdbcType=VARCHAR},
            #{item.customBranchName,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <update id="deleteCustomBranchList">
        update into custom_branch (id,hospital_id, branch_id, custom_name) values
        <foreach collection="addCustomBranchBeanList" item="item" separator="," index="key">
            ((select replace(uuid(), '-', '') as id from dual),
            #{item.hospitalId,jdbcType=VARCHAR},
            #{item.baseBranchId,jdbcType=VARCHAR},
            #{item.customBranchName,jdbcType=VARCHAR})
        </foreach>
    </update>
    <delete id="deleteCustomBranchIdList">
        delete from custom_branch
        where id in
        <foreach collection="removeCustomBranchBeanList" item="item" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.sicmed.remote.web.entity.CustomBranch">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into custom_branch (id,hospital_id, branch_id, custom_name,
        branch_number, branch_grade, branch_inform,
        branch_weight, order_weight, create_user,
        create_time, update_user, update_time,
        delete_user, delete_time, del_flag
        )
        values (#{id,jdbcType=VARCHAR}, #{hospitalId,jdbcType=VARCHAR}, #{branchId,jdbcType=VARCHAR},
        #{customName,jdbcType=VARCHAR},
        #{branchNumber,jdbcType=VARCHAR}, #{branchGrade,jdbcType=VARCHAR}, #{branchInform,jdbcType=VARCHAR},
        #{branchWeight,jdbcType=INTEGER}, #{orderWeight,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
        #{deleteUser,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.sicmed.remote.web.entity.CustomBranch">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into custom_branch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="hospitalId != null">
                hospital_id,
            </if>
            <if test="branchId != null">
                branch_id,
            </if>
            <if test="customName != null">
                custom_name,
            </if>
            <if test="branchNumber != null">
                branch_number,
            </if>
            <if test="branchGrade != null">
                branch_grade,
            </if>
            <if test="branchInform != null">
                branch_inform,
            </if>
            <if test="branchWeight != null">
                branch_weight,
            </if>
            <if test="orderWeight != null">
                order_weight,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="hospitalId != null">
                #{hospitalId,jdbcType=VARCHAR},
            </if>
            <if test="branchId != null">
                #{branchId,jdbcType=VARCHAR},
            </if>
            <if test="customName != null">
                #{customName,jdbcType=VARCHAR},
            </if>
            <if test="branchNumber != null">
                #{branchNumber,jdbcType=VARCHAR},
            </if>
            <if test="branchGrade != null">
                #{branchGrade,jdbcType=VARCHAR},
            </if>
            <if test="branchInform != null">
                #{branchInform,jdbcType=VARCHAR},
            </if>
            <if test="branchWeight != null">
                #{branchWeight,jdbcType=INTEGER},
            </if>
            <if test="orderWeight != null">
                #{orderWeight,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.remote.web.entity.CustomBranch">
        update custom_branch
        <set>
            <if test="hospitalId != null">
                hospital_id = #{hospitalId,jdbcType=VARCHAR},
            </if>
            <if test="branchId != null">
                branch_id = #{branchId,jdbcType=VARCHAR},
            </if>
            <if test="customName != null">
                custom_name = #{customName,jdbcType=VARCHAR},
            </if>
            <if test="branchNumber != null">
                branch_number = #{branchNumber,jdbcType=VARCHAR},
            </if>
            <if test="branchGrade != null">
                branch_grade = #{branchGrade,jdbcType=VARCHAR},
            </if>
            <if test="branchInform != null">
                branch_inform = #{branchInform,jdbcType=VARCHAR},
            </if>
            <if test="branchWeight != null">
                branch_weight = #{branchWeight,jdbcType=INTEGER},
            </if>
            <if test="orderWeight != null">
                order_weight = #{orderWeight,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sicmed.remote.web.entity.CustomBranch">
        update custom_branch
        set hospital_id = #{hospitalId,jdbcType=VARCHAR},
        branch_id = #{branchId,jdbcType=VARCHAR},
        custom_name = #{customName,jdbcType=VARCHAR},
        branch_number = #{branchNumber,jdbcType=VARCHAR},
        branch_grade = #{branchGrade,jdbcType=VARCHAR},
        branch_inform = #{branchInform,jdbcType=VARCHAR},
        branch_weight = #{branchWeight,jdbcType=INTEGER},
        order_weight = #{orderWeight,jdbcType=VARCHAR},
        create_user = #{createUser,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_user = #{updateUser,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        delete_user = #{deleteUser,jdbcType=VARCHAR},
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
        del_flag = #{delFlag,jdbcType=CHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="findByDynamicParam" parameterType="com.sicmed.remote.web.entity.CustomBranch"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from custom_branch
        <where>
            del_flag = "0"
            <if test="customName != null">
                AND custom_name = #{customName,jdbcType=VARCHAR}
            </if>
            <if test="branchNumber != null">
                AND branch_number = #{branchNumber,jdbcType=VARCHAR}
            </if>
            <if test="branchGrade != null">
                AND branch_grade = #{branchGrade,jdbcType=VARCHAR}
            </if>
            <if test="branchInform != null">
                AND branch_inform = #{branchInform,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <resultMap id="BeanResultMap" type="com.sicmed.remote.web.bean.BranchBean">
        <id column="baseBranchId" jdbcType="VARCHAR" property="id"/>
        <result column="baseBranchName" jdbcType="VARCHAR" property="branchName"/>
        <collection property="customBranchList" ofType="com.sicmed.remote.web.bean.CustomBranchBean"
                    javaType="ArrayList">
            <id column="customBranchId" jdbcType="VARCHAR" property="id"/>
            <result column="customBranchName" jdbcType="VARCHAR" property="customName"/>
            <result column="childBranchId" jdbcType="VARCHAR" property="baseBranchId"/>
            <result column="childBranchName" jdbcType="VARCHAR" property="baseBranchName"/>
        </collection>
    </resultMap>
    <sql id="Bean_Column_List">
        baseBranch.id baseBranchId,baseBranch.branch_name baseBranchName,
        childBranch.id childBranchId,childBranch.branch_name childBranchName,
        customBranch.id customBranchId,customBranch.custom_name customBranchName
    </sql>
    <sql id="Bean_Left_Join">
        LEFT JOIN base_branch childBranch ON childBranch.parent_id = baseBranch.id
        LEFT JOIN custom_branch customBranch ON customBranch.branch_id = childBranch.id AND customBranch.hospital_id =
        #{hospitalId}
    </sql>
    <select id="selectByHospitalId" parameterType="com.sicmed.remote.web.entity.CustomBranch"
            resultMap="BeanResultMap">
        select
        <include refid="Bean_Column_List"/>
        from base_branch baseBranch
        <include refid="Bean_Left_Join"/>
        WHERE
        baseBranch.parent_id is NULL
    </select>


    <resultMap id="HospitalBeanResultMap" type="com.sicmed.remote.web.bean.HospitalBean">
        <id column="hospitalId" jdbcType="VARCHAR" property="id"/>
        <result column="hospitalName" jdbcType="VARCHAR" property="hospitalName"/>
        <result column="consultationVideoPrice" jdbcType="INTEGER" property="consultationVideoPrice"/>
        <result column="consultationPicturePrice" jdbcType="INTEGER" property="consultationPicturePrice"/>
        <result column="hospitalPhone" jdbcType="VARCHAR" property="hospitalPhone"/>
        <collection property="branchBeanList" ofType="com.sicmed.remote.web.bean.BranchBean" javaType="ArrayList">
            <id column="branchId" jdbcType="VARCHAR" property="id"/>
            <result column="branchName" jdbcType="VARCHAR" property="branchName"/>
            <collection property="customBranchList" ofType="com.sicmed.remote.web.bean.CustomBranchBean" javaType="ArrayList">
                <id column="customBranchId" jdbcType="VARCHAR" property="id"/>
                <result column="customName" jdbcType="VARCHAR" property="customName"/>
            </collection>
        </collection>
    </resultMap>
    <sql id="HospitalBean_Column_List">
        customBranch.id customBranchId,customBranch.custom_name customName,
        hospital.id hospitalId, hospital.hospital_name hospitalName,hospital.consultation_picture_price consultationPicturePrice, hospital.consultation_video_price consultationVideoPrice,hospital.hospital_phone hospitalPhone,
        parentBranch.id branchId,parentBranch.branch_name branchName
    </sql>
    <sql id="HospitalBean_Left_Join">
        LEFT JOIN base_hospital hospital ON hospital.id = customBranch.hospital_id
        LEFT JOIN base_branch branch ON branch.id = customBranch.branch_id
        LEFT JOIN base_branch parentBranch ON parentBranch.id = branch.parent_id
    </sql>
    <select id="selectHospitalBranchList" parameterType="com.sicmed.remote.web.entity.Hospital" resultMap="HospitalBeanResultMap">
        select
        <include refid="HospitalBean_Column_List"/>
        from custom_branch customBranch
        <include refid="HospitalBean_Left_Join"/>
        WHERE
        customBranch.del_flag = "0"
    </select>
    <select id="getMasterHospitalBranchList" parameterType="com.sicmed.remote.web.entity.Hospital" resultMap="HospitalBeanResultMap">
        select
        <include refid="HospitalBean_Column_List"/>
        from custom_branch customBranch
        <include refid="HospitalBean_Left_Join"/>
        WHERE
        customBranch.del_flag = "0" AND hospital.hospital_weight = 0
    </select>
</mapper>