<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.web.mapper.ProcedureMapper">
    <select id="applyChecked" statementType="CALLABLE">
        CALL apply_checked()
    </select>
    <select id="referralChecked" statementType="CALLABLE">
        CALL referral_checked()
    </select>
</mapper>