<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.web.mapper.SpecialistTypeMapper">
    <resultMap id="BaseResultMap" type="com.sicmed.remote.web.entity.SpecialistType">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="specialist_name" jdbcType="VARCHAR" property="specialistName"/>
        <result column="hospital_id" jdbcType="VARCHAR" property="hospitalId"/>
        <result column="consultation_picture_price" jdbcType="INTEGER" property="consultationPicturePrice"/>
        <result column="consultation_video_price" jdbcType="INTEGER" property="consultationVideoPrice"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, specialist_name, hospital_id, consultation_picture_price, consultation_video_price,
        create_time, create_user, update_time, delete_time, update_user, delete_user, del_flag
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from specialist_type
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <update id="deleteByPrimaryKey" parameterType="com.sicmed.remote.web.entity.SpecialistType">
        update specialist_type
        set del_flag = "1"
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <insert id="insert" parameterType="com.sicmed.remote.web.entity.SpecialistType">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into specialist_type (id, specialist_name, hospital_id,
        consultation_picture_price, consultation_video_price,
        create_time, create_user, update_time,
        delete_time, update_user, delete_user,
        del_flag)
        values (#{id,jdbcType=VARCHAR}, #{specialistName,jdbcType=VARCHAR}, #{hospitalId,jdbcType=VARCHAR},
        #{consultationPicturePrice,jdbcType=INTEGER}, #{consultationVideoPrice,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
        #{deleteTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{deleteUser,jdbcType=VARCHAR},
        #{delFlag,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.sicmed.remote.web.entity.SpecialistType">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into specialist_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="specialistName != null">
                specialist_name,
            </if>
            <if test="hospitalId != null">
                hospital_id,
            </if>
            <if test="consultationPicturePrice != null">
                consultation_picture_price,
            </if>
            <if test="consultationVideoPrice != null">
                consultation_video_price,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="specialistName != null">
                #{specialistName,jdbcType=VARCHAR},
            </if>
            <if test="hospitalId != null">
                #{hospitalId,jdbcType=VARCHAR},
            </if>
            <if test="consultationPicturePrice != null">
                #{consultationPicturePrice,jdbcType=INTEGER},
            </if>
            <if test="consultationVideoPrice != null">
                #{consultationVideoPrice,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.remote.web.entity.SpecialistType">
        update specialist_type
        <set>
            <if test="specialistName != null">
                specialist_name = #{specialistName,jdbcType=VARCHAR},
            </if>
            <if test="hospitalId != null">
                hospital_id = #{hospitalId,jdbcType=VARCHAR},
            </if>
            <if test="consultationPicturePrice != null">
                consultation_picture_price = #{consultationPicturePrice,jdbcType=INTEGER},
            </if>
            <if test="consultationVideoPrice != null">
                consultation_video_price = #{consultationVideoPrice,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sicmed.remote.web.entity.SpecialistType">
        update specialist_type
        set specialist_name = #{specialistName,jdbcType=VARCHAR},
        hospital_id = #{hospitalId,jdbcType=VARCHAR},
        consultation_picture_price = #{consultationPicturePrice,jdbcType=INTEGER},
        consultation_video_price = #{consultationVideoPrice,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_user = #{createUser,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
        update_user = #{updateUser,jdbcType=VARCHAR},
        delete_user = #{deleteUser,jdbcType=VARCHAR},
        del_flag = #{delFlag,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="findByDynamicParam" parameterType="com.sicmed.remote.web.entity.SpecialistType"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from specialist_type
        <where>
            del_flag = "0"
            <if test="specialistName != null">
                AND specialist_name = #{specialistName,jdbcType=VARCHAR}
            </if>
            <if test="hospitalId != null">
                AND hospital_id = #{hospitalId,jdbcType=VARCHAR}
            </if>
            <if test="consultationPicturePrice != null">
                AND consultation_picture_price = #{consultationPicturePrice,jdbcType=INTEGER}
            </if>
            <if test="consultationVideoPrice != null">
                AND consultation_video_price = #{consultationVideoPrice,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>