<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicmed.remote.web.mapper.UserDetailMapper">
    <resultMap id="BaseResultMap" type="com.sicmed.remote.web.entity.UserDetail">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_age" jdbcType="VARCHAR" property="userAge"/>
        <result column="user_sex" jdbcType="VARCHAR" property="userSex"/>
        <result column="user_address" jdbcType="VARCHAR" property="userAddress"/>
        <result column="user_card_number" jdbcType="VARCHAR" property="userCardNumber"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="hospital_id" jdbcType="VARCHAR" property="hospitalId"/>
        <result column="branch_id" jdbcType="VARCHAR" property="branchId"/>
        <result column="title_name" jdbcType="VARCHAR" property="titleName"/>
        <result column="specialist_type_id" jdbcType="VARCHAR" property="specialistTypeId"/>
        <result column="head_img" jdbcType="VARCHAR" property="headImg"/>
        <result column="user_resume" jdbcType="VARCHAR" property="userResume"/>
        <result column="user_strong" jdbcType="VARCHAR" property="userStrong"/>
        <result column="need_case_type" jdbcType="VARCHAR" property="needCaseType"/>
        <result column="consultation_picture_price" jdbcType="VARCHAR" property="consultationPicturePrice"/>
        <result column="consultation_video_price" jdbcType="VARCHAR" property="consultationVideoPrice"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="delete_user" jdbcType="VARCHAR" property="deleteUser"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_name, user_age, user_sex, user_address, user_card_number, telephone, hospital_id, 
    branch_id, title_name, specialist_type_id, head_img, user_resume, user_strong, need_case_type, 
    consultation_picture_price, consultation_video_price, create_time, create_user, update_time, 
    delete_time, update_user, delete_user, del_flag
  </sql>

    <!--管理中心,科室内医生-->
    <resultMap id="BeanResultMap" type="com.sicmed.remote.web.bean.BranchBean">

        <id column="baseBranchId" jdbcType="VARCHAR" property="id"/>
        <result column="baseBranchName" jdbcType="VARCHAR" property="branchName"/>

        <collection property="customBranchList" ofType="com.sicmed.remote.web.bean.CustomBranchBean"
                    javaType="ArrayList">
            <id column="customBranchId" jdbcType="VARCHAR" property="id"/>
            <result column="customBranchName" jdbcType="VARCHAR" property="customName"/>

            <collection property="userBeanList" ofType="com.sicmed.remote.web.bean.UserBean" javaType="ArrayList">

                <result column="udId" jdbcType="VARCHAR" property="id"/>
                <result column="udName" jdbcType="VARCHAR" property="userName"/>
                <result column="usApproveStatus" jdbcType="VARCHAR" property="approveStatus"/>

            </collection>

        </collection>

    </resultMap>

    <sql id="Bean_Column_List">
        baseBranch.id baseBranchId,baseBranch.branch_name baseBranchName,
--         childBranch.id childBranchId,childBranch.branch_name childBranchName,
        customBranch.id customBranchId,customBranch.custom_name customBranchName,
        userDetail.id udId,userDetail.user_name udName,
        userSign.approve_status usApproveStatus
    </sql>

    <sql id="Bean_Left_Join">
        LEFT JOIN base_branch childBranch ON childBranch.parent_id = baseBranch.id AND childBranch.del_flag = "0"
        LEFT JOIN custom_branch customBranch ON customBranch.branch_id = childBranch.id AND customBranch.hospital_id = #{hospitalId} AND customBranch.del_flag = "0"
        LEFT JOIN user_detail  userDetail ON userDetail.branch_id = customBranch.id AND userDetail.del_flag = "0"
        LEFT JOIN user_sign  userSign ON userSign.id = userDetail.id
    </sql>

    <select id="selectByHospital" parameterType="com.sicmed.remote.web.entity.CustomBranch"
            resultMap="BeanResultMap">
        select
        <include refid="Bean_Column_List"/>
        from base_branch baseBranch
        <include refid="Bean_Left_Join"/>
        WHERE
        baseBranch.parent_id is NULL
        AND baseBranch.del_flag = "0"
    </select>

    <!--个人中心页面信息-->
    <resultMap id="UserBeanResultMap" type="com.sicmed.remote.web.bean.UserControllerBean">
        <id column="ud_id" jdbcType="VARCHAR" property="id"/>
        <result column="ud_name" jdbcType="VARCHAR" property="userName"/>
        <result column="ud_phone" jdbcType="VARCHAR" property="telephone"/>
        <result column="ud_hospital" jdbcType="VARCHAR" property="hospitalId"/>
        <result column="ud_branch" jdbcType="VARCHAR" property="branchId"/>
        <result column="ud_title" jdbcType="VARCHAR" property="titleName"/>
        <result column="ud_sti" jdbcType="VARCHAR" property="specialistTypeId"/>
        <result column="ud_strong" jdbcType="VARCHAR" property="userStrong"/>
        <result column="ud_cpp" jdbcType="VARCHAR" property="consultationPicturePrice"/>
        <result column="ud_cvp" jdbcType="VARCHAR" property="consultationVideoPrice"/>
        <!--一个userDetailId对应一个userAccount-->
        <result column="ua_phone" jdbcType="VARCHAR" property="userPhone"/>

        <!--一个userDetailId对应一个userSign-->

        <result column="us_st" jdbcType="VARCHAR" property="signature"/>
        <result column="us_dcf" jdbcType="VARCHAR" property="doctorCardFront"/>
        <result column="us_as" jdbcType="VARCHAR" property="approveStatus"/>

        <!--一个userDetailId对应多个userCaseType-->
        <collection property="caseTypeIds" ofType="com.sicmed.remote.web.entity.UserCaseType" javaType="ArrayList">
            <result column="ut_cyi" jdbcType="VARCHAR" property="caseTypeId"/>
        </collection>
    </resultMap>
    <select id="selectPersonalCenter" parameterType="java.lang.String" resultMap="UserBeanResultMap">
select
ud.id ud_id,
ud.user_name ud_name,
ud.telephone ud_phone,
ud.hospital_id ud_hospital,
ud.branch_id ud_branch,
ud.title_name ud_title,
ud.specialist_type_id ud_sti,
ud.user_strong ud_strong,
ud.consultation_picture_price ud_cpp,
ud.consultation_video_price ud_cvp,
ua.user_phone ua_phone,
us.signature us_st,
us.doctor_card_front us_dcf,
us.approve_status us_as,
ut.case_type_id ut_cyi
from user_detail ud
left join user_account ua on ud.id = ua.id
left join user_sign us on ud.id = us.id
left  join user_case_type ut on ud.id = ut.user_id
where ud.id = #{userId}
    </select>

    <!--branchId查询userDetail   医生通讯录医生信息展示-->
    <resultMap id="MyResultMap" type="com.sicmed.remote.web.bean.UserBean">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="hospital_id" jdbcType="VARCHAR" property="hospitalId"/>
        <result column="branch_id" jdbcType="VARCHAR" property="branchId"/>
        <result column="title_name" jdbcType="VARCHAR" property="titleName"/>
        <result column="specialist_type_id" jdbcType="VARCHAR" property="specialistTypeId"/>
        <result column="user_strong" jdbcType="VARCHAR" property="userStrong"/>
        <result column="need_case_type" jdbcType="VARCHAR" property="needCaseType"/>
        <result column="consultation_picture_price" jdbcType="VARCHAR" property="consultationPicturePrice"/>
        <result column="consultation_video_price" jdbcType="VARCHAR" property="consultationVideoPrice"/>
        <result column="us_as" jdbcType="VARCHAR" property="approveStatus"/>

    </resultMap>
    <select id="selectByBranchId" parameterType="java.lang.String" resultMap="MyResultMap">
        select
        ud.id  id ,
        ud.user_name user_name,
        ud.telephone telephone,
        ud.hospital_id hospital_id,
        ud.branch_id branch_id,
        ud.title_name title_name,
        ud.specialist_type_id specialist_type_id,
        ud.user_strong user_strong,
        ud.need_case_type need_case_type,
        ud.consultation_picture_price consultation_picture_price,
        ud.consultation_video_price consultation_video_price,
        us.approve_status us_as
        from user_detail ud
        left join user_sign us on us.id = ud.id
        where
        ud.del_flag = "0"
        AND ud.branch_id = #{branchId}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_detail
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.sicmed.remote.web.entity.UserDetail">
    insert into user_detail (id, user_name, user_age, 
      user_sex, user_address, user_card_number, 
      telephone, hospital_id, branch_id, 
      title_name, specialist_type_id, head_img, 
      user_resume, user_strong, need_case_type, 
      consultation_picture_price, consultation_video_price, 
      create_time, create_user, update_time, 
      delete_time, update_user, delete_user, 
      del_flag)
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userAge,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=VARCHAR}, #{userAddress,jdbcType=VARCHAR}, #{userCardNumber,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{hospitalId,jdbcType=VARCHAR}, #{branchId,jdbcType=VARCHAR}, 
      #{titleName,jdbcType=VARCHAR}, #{specialistTypeId,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, 
      #{userResume,jdbcType=VARCHAR}, #{userStrong,jdbcType=VARCHAR}, #{needCaseType,jdbcType=VARCHAR}, 
      #{consultationPicturePrice,jdbcType=VARCHAR}, #{consultationVideoPrice,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{deleteUser,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.sicmed.remote.web.entity.UserDetail">
        insert into user_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userAge != null">
                user_age,
            </if>
            <if test="userSex != null">
                user_sex,
            </if>
            <if test="userAddress != null">
                user_address,
            </if>
            <if test="userCardNumber != null">
                user_card_number,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="hospitalId != null">
                hospital_id,
            </if>
            <if test="branchId != null">
                branch_id,
            </if>
            <if test="titleName != null">
                title_name,
            </if>
            <if test="specialistTypeId != null">
                specialist_type_id,
            </if>
            <if test="headImg != null">
                head_img,
            </if>
            <if test="userResume != null">
                user_resume,
            </if>
            <if test="userStrong != null">
                user_strong,
            </if>
            <if test="needCaseType != null">
                need_case_type,
            </if>
            <if test="consultationPicturePrice != null">
                consultation_picture_price,
            </if>
            <if test="consultationVideoPrice != null">
                consultation_video_price,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="deleteUser != null">
                delete_user,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null">
                #{userAge,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userAddress != null">
                #{userAddress,jdbcType=VARCHAR},
            </if>
            <if test="userCardNumber != null">
                #{userCardNumber,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="hospitalId != null">
                #{hospitalId,jdbcType=VARCHAR},
            </if>
            <if test="branchId != null">
                #{branchId,jdbcType=VARCHAR},
            </if>
            <if test="titleName != null">
                #{titleName,jdbcType=VARCHAR},
            </if>
            <if test="specialistTypeId != null">
                #{specialistTypeId,jdbcType=VARCHAR},
            </if>
            <if test="headImg != null">
                #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="userResume != null">
                #{userResume,jdbcType=VARCHAR},
            </if>
            <if test="userStrong != null">
                #{userStrong,jdbcType=VARCHAR},
            </if>
            <if test="needCaseType != null">
                #{needCaseType,jdbcType=VARCHAR},
            </if>
            <if test="consultationPicturePrice != null">
                #{consultationPicturePrice,jdbcType=VARCHAR},
            </if>
            <if test="consultationVideoPrice != null">
                #{consultationVideoPrice,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteUser != null">
                #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sicmed.remote.web.entity.UserDetail">
        update user_detail
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null">
                user_age = #{userAge,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                user_sex = #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userAddress != null">
                user_address = #{userAddress,jdbcType=VARCHAR},
            </if>
            <if test="userCardNumber != null">
                user_card_number = #{userCardNumber,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="hospitalId != null">
                hospital_id = #{hospitalId,jdbcType=VARCHAR},
            </if>
            <if test="branchId != null">
                branch_id = #{branchId,jdbcType=VARCHAR},
            </if>
            <if test="titleName != null">
                title_name = #{titleName,jdbcType=VARCHAR},
            </if>
            <if test="specialistTypeId != null">
                specialist_type_id = #{specialistTypeId,jdbcType=VARCHAR},
            </if>
            <if test="headImg != null">
                head_img = #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="userResume != null">
                user_resume = #{userResume,jdbcType=VARCHAR},
            </if>
            <if test="userStrong != null">
                user_strong = #{userStrong,jdbcType=VARCHAR},
            </if>
            <if test="needCaseType != null">
                need_case_type = #{needCaseType,jdbcType=VARCHAR},
            </if>
            <if test="consultationPicturePrice != null">
                consultation_picture_price = #{consultationPicturePrice,jdbcType=VARCHAR},
            </if>
            <if test="consultationVideoPrice != null">
                consultation_video_price = #{consultationVideoPrice,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="deleteUser != null">
                delete_user = #{deleteUser,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sicmed.remote.web.entity.UserDetail">
    update user_detail
    set user_name = #{userName,jdbcType=VARCHAR},
      user_age = #{userAge,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_address = #{userAddress,jdbcType=VARCHAR},
      user_card_number = #{userCardNumber,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      hospital_id = #{hospitalId,jdbcType=VARCHAR},
      branch_id = #{branchId,jdbcType=VARCHAR},
      title_name = #{titleName,jdbcType=VARCHAR},
      specialist_type_id = #{specialistTypeId,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      user_resume = #{userResume,jdbcType=VARCHAR},
      user_strong = #{userStrong,jdbcType=VARCHAR},
      need_case_type = #{needCaseType,jdbcType=VARCHAR},
      consultation_picture_price = #{consultationPicturePrice,jdbcType=VARCHAR},
      consultation_video_price = #{consultationVideoPrice,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      delete_user = #{deleteUser,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <resultMap id="CurrentUserResultMap" type="com.sicmed.remote.web.bean.CurrentUserBean">
        <id column="userId" jdbcType="VARCHAR" property="id"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="userAge" jdbcType="VARCHAR" property="userAge"/>
        <result column="userSex" jdbcType="VARCHAR" property="userSex"/>
        <result column="userAddress" jdbcType="VARCHAR" property="userAddress"/>
        <result column="userCardNumber" jdbcType="VARCHAR" property="userCardNumber"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="hospitalId" jdbcType="VARCHAR" property="hospitalId"/>
        <result column="branchId" jdbcType="VARCHAR" property="branchId"/>
        <result column="titleName" jdbcType="VARCHAR" property="titleName"/>
        <result column="specialistTypeId" jdbcType="VARCHAR" property="specialistTypeId"/>
        <result column="headImg" jdbcType="VARCHAR" property="headImg"/>
        <result column="userResume" jdbcType="VARCHAR" property="userResume"/>
        <result column="userStrong" jdbcType="VARCHAR" property="userStrong"/>
        <result column="needCaseType" jdbcType="VARCHAR" property="needCaseType"/>
        <result column="consultation_picture_price" jdbcType="VARCHAR" property="consultationPicturePrice"/>
        <result column="consultation_video_price" jdbcType="VARCHAR" property="consultationVideoPrice"/>
        <result column="branchName" jdbcType="VARCHAR" property="branchName"/>
        <result column="hospitalName" jdbcType="VARCHAR" property="hospitalName"/>
        <result column="specialistTypeName" jdbcType="VARCHAR" property="specialistTypeName"/>
    </resultMap>
    <sql id="CurrentUser_Column_List">
        user.id userId, user.user_name userName, user.user_age userAge, user.user_sex userSex, user.user_address userAddress,
        user.user_card_number userCardNumber, user.telephone telephone, user.hospital_id hospitalId,
        user.branch_id branchId, user.title_name titleName, user.head_img headImg, user.user_resume userResume,
        user.user_strong userStrong, user.need_case_type needCaseType,
        user.consultation_picture_price consultation_picture_price, user.consultation_video_price consultation_video_price,
        hospital.hospital_name hospitalName,
        branch.custom_name branchName,
        st.specialist_name specialistTypeName
    </sql>
    <select id="selectCurrentUser" parameterType="java.lang.String" resultMap="CurrentUserResultMap">
        select
        <include refid="CurrentUser_Column_List"/>
        from user_detail user
        LEFT JOIN base_hospital hospital ON hospital.id = user.hospital_id
        LEFT JOIN custom_branch branch ON branch.id = user.branch_id
        LEFT JOIN specialist_type st ON st.id = user.specialist_type_id
        where user.id = #{id,jdbcType=VARCHAR}
    </select>

</mapper>